﻿﻿<details-popup options="options">
    <div ng-if="!showTabs" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    <div class="details-popup locations-details" ng-if="showTabs">
        <div class="tabs" dx-tabs="tabs.tabsOptions"></div>
        <div class="tabs-panel" ng-if="visiblePopup">
            <div ng-if="isLoading" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
            <div ng-if="!isLoading">
                <div ng-if="tabs.selectedTabName == 'common'" class="scroll">
                    <div class="common" ng-if="accordions.length > 0">
                        <div class="accordion" ng-repeat="accordion in accordions track by $index" ng-show="accordion.visible" ng-if="accordions">
                            <div dx-accordion="accordion.options" dx-item-alias="section">
                                <div class="header" data-options="dxTemplate: { name: 'title' } ">
                                    <div class="bar">
                                        <div class="accordions-spaces"><span class="title">{{section.title}}</span> <span ng-if="section.showStatus" class="summary">{{section.status()}}</span></div>
                                        <div class="small-button dx-button-has-icon" dx-button="{ icon: 'edit', onClick: editClick }" ng-if="section.canEdit"></div>
                                        <div class="small-button dx-button-has-icon" dx-button="closeAccordionButtonOptions(section.name, $index)"></div>
                                    </div>
                                </div>

                                <div class="body" data-options="dxTemplate: { name: 'panel' } ">
                                    <div ng-if="accordion.hideContent && section.selected" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                    <div class="details-accordions" ng-switch="section.name" ng-if="!accordion.hideContent && section.selected">
                                        <div class="accordion-params" ng-switch-when="params" ng-init="loadSchemas(modelId)">
                                            <gallery ng-if="schemas.length > 0" schemas="schemas"></gallery>
                                            <details-parameters ng-if="$root.hasPermissions(['LOCATION_PARAMETERS']) && common.details.length > 0" fields="common.details" model-id="modelId" popup-for="popupFor"></details-parameters>
                                        </div>

                                        <div ng-switch-when="groups">
                                            <div ng-if="groups.options" dx-data-grid="groups.options"></div>
                                            <div ng-hide="groups.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>
                                        <div ng-switch-when="devices">
                                            <div ng-if="devices.options" dx-data-grid="devices.options"></div>
                                            <div class="no-defined-content" ng-if="devices.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                            <div ng-hide="devices.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>
                                        <div ng-switch-when="meters">
                                            <div ng-if="meters.options" dx-data-grid="meters.options"></div>
                                            <div class="no-defined-content" ng-if="meters.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                            <div ng-hide="meters.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>

                                        <div ng-switch-when="maps" class="map">
                                            <map ng-if="mapData" data-mapdata="mapData"></map>
                                        </div>
                                        <div ng-switch-when="specifics">
                                            <div ng-if="specifics.options" dx-data-grid="specifics.options"></div>
                                            <div ng-hide="specifics.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>

                                        <div ng-switch-when="measurements" ng-init="measurementsChartShow()">
                                            <measurements-chart ng-if="measurementsChartBridge" source="measurementsChartBridge" meters="measurementsBridge.meters" devices="measurementsBridge.devices" locations="measurementsBridge.locations" groups="measurementsBridge.groups"></measurements-chart>
                                            <div ng-hide="measurementsBridge.showMeasurements" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>

                                        <div ng-switch-when="measurements-table" ng-init="measurementsShow()">
                                            <measurements id="measurementsAccordion" ng-if="measurementsBridge" source="measurementsBridge" hide-gridster="true" add-grid="true" is-grid-in-common="true"></measurements>
                                            <div ng-hide="measurementsBridge.showMeasurements" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bar" style="width: 100%; text-align:center; font-size:large; margin-top:2em;" ng-hide="anyAccordionVisible()">
                            {{$root.i18n("Common", "NoActiveAccordions")}}
                        </div>
                    </div>
                    <groups-edit ng-if="common.groups" source="groupsBridge"></groups-edit>
                    <grid-edit ng-if="common.devices" source="devicesBridge"></grid-edit>
                    <grid-edit ng-if="common.meters" source="metersBridge"></grid-edit>
                </div>

                <measurements ng-show="false" ng-if="measurementsBridge && needFakeMeasurements" source="measurementsBridge" hide-gridster="true" add-grid="true"></measurements>

                <history ng-if="$root.hasPermissions(['LOCATION_HISTORY']) && tabs.selectedTabName == 'history'" source="{ id: modelId, dataMethodName: 'getHistoryForLocation' }"></history>
                <measurements ng-if="$root.hasPermissions(['MEASUREMENTS_LIST']) && measurementsBridge && tabs.selectedTabName == 'measurements'" source="measurementsBridge"></measurements>
                <schema ng-if="$root.hasPermissions(['LOCATION_SCHEMA']) && tabs.selectedTabName == 'schema'" source="{ id: modelId }"></schema>
            </div>
        </div>
    </div>
    <confirmation id="id" confirm="confirmDelete" title="{{i18n('Popup', 'ElementDeleting')}}"></confirmation>
    <location-details id="detailsPopupId"></location-details>
    <devices-details id="detailsPopupId"></devices-details>
    <meter-details id="detailsPopupId"></meter-details>
    <location-create-edit id="editId"></location-create-edit>
</details-popup>