﻿<div dx-popup="popupOptions">
    <div class="grid-edit">
        <div class="installed">
            <div dx-popover="editReference.popoverOptions">
                <div ng-if="!editReference.isUnknownReferenceTable" dx-data-grid="editReference.popoverGridOptions"></div>
            </div>
            <div dx-data-grid="gridOptions"></div>
            <div class="no-defined-content" ng-if="columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
        </div>
        <toolbar-popover source="source" grid="grid"></toolbar-popover>
    </div>
</div>