﻿@import '../../../mixins';

.grid-edit {
    @include flex(column);
    height: 100%;
    min-height: 0;

    .installed {
        @include flex(row);
        height: 100%;
        min-height: 0;
    }

    .toolbar {
        @include flex(row);
        flex-shrink: 0;
        justify-content: flex-end;
        padding-top: 10px;

        .dx-button {
            margin: 0;
        }

        & > div.dx-button {
            margin: 0 0 0 5px;
        }

        
    }
}