﻿@import '../../../colors.scss';

.tile {
    color: $dashboardTileTextColor;
    background-color: $dashboardTileBGColor;
    margin: 10px 0;
    h4 {
        margin: 20px 0 10px;
        display: inline-block;
        width: 100%;
    }
    b {
        margin: 10px 0 20px;
        display: inline-block;
        width: 100%;
        font-size: 20px;
    }
}