﻿<div class="schema text-center">
    <schema ng-if="data.schemas && data.schemas.length == 1" source="{ data: data.schemas[0], isReadOnly: true }"></schema>
    <div dx-gallery="{items: data.schemas, height: 350}" dx-item-alias="schema" ng-if="data.schemas && data.schemas.length > 1">
        <schema source="{ data: schema, isReadOnly: true }"></schema>
    </div>
</div>