﻿.date-picker { 
    display: flex;
    flex-direction: row;      
    & > *, & > .pickers > * {
        display: flex;
        flex-direction: row;
        vertical-align: middle;
    }
}

.single-select-box{
    margin-left: 4px;
}

.date-picker-text{
    align-self: center;
    margin: 0 5px 0 5px;
    padding-bottom: 3px;
}

.prev-button{
    margin: 0 3px !important;
}

.is-small-screen{
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    .period-button{
        margin-bottom: 10px;
        justify-content: center;
    }
    .pickers{
        align-items: center;
        flex-direction: column;
        width: 100%;
        .select-box{
            margin-bottom: 10px;
            padding-left: 17px;
            align-self: flex-start;
        }  
        .single-select-box{
            padding-left: 42px;
        } 
        .prev-next-buttons{
            .prev-button{
                margin-left: 0 !important;
            }
            .next-button{
                margin: 0;
            }
        }
    }
}

.is-rtl{
    .prev-next-buttons{
        display: inline-flex;
        flex-direction: row-reverse;
    }
    .prev-button{
        margin-right: 3px;
    }
}