﻿<div ng-hide="source.isSmallScreen && hidePickers" class="date-picker" ng-class="{'is-small-screen': source.isSmallScreen}">
    <div ng-hide="source.isSmallScreen" id="period-button-{{$id}}" dx-button="periodButtonOptions"></div>
    <div class="period-button" ng-show="source.isSmallScreen" id="sm-screen-period-button-{{$id}}" dx-button="smScreenPeriodButtonOptions"></div>
    <div ng-hide="hidePickers" class="pickers">
        <div class="select-box" ng-class="{'single-select-box': selectedPeriod == periods.day }">
            <div class="date-picker-text" ng-show="selectedPeriod != periods.day">{{$root.i18n("Common", "FromText")}}</div>
            <div dx-date-box="fromDateBoxOptions"></div>
       </div>
        <div ng-show="selectedPeriod != periods.day" class="select-box">
            <div class="date-picker-text">{{$root.i18n("Common", "ToText")}}</div>
            <div dx-date-box="toDateBoxOptions"></div>
        </div>
        <div class="prev-next-buttons">
            <div class="prev-button" dx-button="prevButtonOptions"></div>
            <div class="next-button" dx-button="nextButtonOptions"></div>
        </div>
    </div>
</div>
<div dx-popover="periodPopoverOptions">
    <div dx-list="periodListOptions"></div>
</div>

<div ng-show="source.isSmallScreen && hidePickers" dx-list="periodListOptions"></div>

