﻿<div class="schema-container">
    <div ng-if="schemaModel && schemaModel.schema" class="container input-container">
        <img class="schema" ng-src="{{ 'data:image/png;base64,' + schemaModel.schema }}"/>
        <div class="form-container" dx-form="formOptions"></div>
        <div class="apply-button" dx-button="applyButtonOptions" ng-if="!source.isReadOnly"></div>
    </div>
    <div ng-if="(!schemaModel || !schemaModel.schema) && isLoaded" class="container empty-container">
        <div>
            {{ $root.i18n('Popup', 'NoSchema') }}
        </div>
    </div>
    <div ng-if="!isLoaded" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
</div>