﻿@import '../../../mixins.scss';

.schema-container {
    height: 100%;
    @include flex(row);
    align-items: center;
    justify-content: center;
    position: relative;

    .container {
        height: 100%;
        width: 100%;
        position: relative;
        text-align: center;
        padding: 0;

        img {
            max-height: 100%;
            max-width: 100%;
            display: inline-block;
        }

        .input-box {
            position: absolute;
            @include flex(row);
            align-items: center !important;
            padding: 0 !important;
            div {
                border-radius: 0;
            }

            label {
                padding: 0;
                margin: 0;
            }
        }
    }

    .input-container {
        .apply-button {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .empty-container {
        height: 100%;
        @include flex(row);
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .dx-field-item-label-content {
        width: auto !important;
    }
}