﻿<details-popup options="options">
    <div ng-if="!showTabs" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    <div class="details-popup user-details" ng-if="showTabs">
        <div class="tabs" dx-tabs="tabs.tabsOptions"></div>
        <div class="tabs-panel" ng-if="visiblePopup">
            <div ng-if="isLoading" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
            <div ng-if="!isLoading">
                <div ng-if="tabs.selectedTabName == 'common'" class="scroll">
                    <div class="common">
                        <div class="accordion" ng-repeat="accordion in accordions track by $index" ng-show="accordion.visible" ng-if="accordions">
                            <div dx-accordion="accordion.options" dx-item-alias="section">
                                <div class="header" data-options="dxTemplate: { name: 'title' } ">
                                    <div class="bar">
                                        <div class="accordions-spaces"><span class="title">{{section.title}}</span> <span ng-if="section.showStatus" class="summary">{{section.status()}}</span></div>
                                        <div class="small-button dx-button-has-icon" dx-button="{ icon: 'edit', onClick: editClick }" ng-if="section.canEdit"></div>
                                        <div class="small-button dx-button-has-icon" dx-button="closeAccordionButtonOptions(section.name, $index)"></div>
                                    </div>
                                </div>

                                <div class="body" data-options="dxTemplate: { name: 'panel' } ">
                                    <div ng-if="accordion.hideContent" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                    <div class="details-accordions" ng-switch="section.name" ng-if="!accordion.hideContent && section.selected">
                                        <div class="accordion-params" ng-switch-when="params">
                                            <details-parameters ng-if="common.details.length > 0" fields="common.details" model-id="modelId" popup-for="popupFor"></details-parameters>
                                            <div class="no-defined-content" ng-if="common.details.length == 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                        </div>
                                        <div ng-switch-when="actor">
                                            <details-parameters ng-if="common.actorDetails.length > 0" fields="common.actorDetails" model-id="modelId" popup-for="popupFor"></details-parameters>
                                            <div class="no-defined-content" ng-if="common.actorDetails.length == 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bar" style="width: 100%; text-align:center; font-size:large; margin-top:2em;" ng-hide="anyAccordionVisible()">
                            {{$root.i18n("Common", "NoActiveAccordions")}}
                        </div>
                    </div>
                </div>
                <div ng-if="tabs.selectedTabName == 'security'" class="security">
                    <div style="text-align: center">
                        <div class="small-tabs" dx-tabs="security.tabsOptions"></div>
                    </div>
                    <div ng-switch="security.selectedTab()" class="security-tabs">
                        <div ng-switch-when="roles" ng-if="$root.hasPermissions(['OPERATOR_PERMISSIONS_ROLE_CHOOSE'])">
                            <toolbar-popover ng-if="$root.hasPermissions(['ALLOWED_OPERATOR_TO_EDIT_ACTIVITIES'])" source="{
                            data: security.rolesData,
                            dictionaryMethodName: 'getRoleColumns',
                            onSubmit: security.submitRoles,
                            columnId: 'id'
                        }" grid="roles.grid"></toolbar-popover>
                            <div class="grid-container">
                                <div ng-if="roles.options" dx-data-grid="roles.options"></div>
                                <div class="no-defined-content" ng-if="roles.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                <div ng-hide="roles.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                            </div>
                        </div>
                        <div ng-switch-when="custom" ng-if="$root.hasPermissions(['OPERATOR_PERMISSIONS_CUSTOM_PERM_CHOOSE'])">
                            <div dx-popover="security.editReference.popoverOptions" style="position: relative;">
                                <div ng-if="!security.editReference.isUnknownReferenceTable" dx-data-grid="security.editReference.popoverGrid.options"></div>
                                <div ng-hide="security.editReference.popoverGrid.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                            </div>
                            <div class="permissions-buttons">
                                <toolbar-popover ng-if="$root.hasPermissions(['ALLOWED_OPERATOR_TO_EDIT_ACTIVITIES'])" source="{
                                data: security.activitiesData,
                                dictionaryMethodName: 'getActivityColumns',
                                onSubmit: security.submitActivities
                            }" grid="activities.grid"></toolbar-popover>
                            </div>

                            <div class="grid-container">
                                <div ng-if="activities.options" dx-data-grid="activities.options"></div>
                                <div class="no-defined-content" ng-if="activities.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                <div ng-hide="activities.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                            </div>
                        </div>
                        <div ng-switch-when="effective" ng-if="$root.hasPermissions(['OPERATOR_EFFECTIVE_PERMISSIONS'])">
                            <div class="module-select-box">
                                <div ng-if="security.modules.length > 1 || security.modules.length == 0">
                                    <div class="select-box-label">
                                        {{$root.i18n('Popup', 'ChooseModule')}}:
                                    </div>
                                    <div dx-select-box="security.selectBoxOptions"></div>
                                </div>
                                <div ng-if="security.modules.length == 1">
                                    <div class="select-box-label">
                                        {{$root.i18n('Popup', 'ChosenModule')}}:
                                    </div>
                                    <div class="select-box-label">{{security.modules[0].caption}}</div>
                                </div>
                            </div>
                            <div class="info-text">
                                {{$root.i18n('Popup', 'PermissionInfoText')}}
                            </div>
                            <div class="grid-container">
                                <div ng-if="allActivities.options" dx-data-grid="allActivities.options"></div>
                                <div class="no-defined-content" ng-if="allActivities.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                <div ng-hide="allActivities.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="tabs.selectedTabName == 'notifications' && $root.hasPermissions(['OPERATOR_NOTIFICATIONS_LIST'])" class="notifications">
                    <div style="text-align: center">
                        <div class="small-tabs" dx-tabs="notifications.tabsOptions"></div>
                    </div>
                    <div ng-switch="notifications.selectedTab()" class="notifications-tabs">
                        <div ng-switch-when="task">
                            <notification-card source="{
                            operatorId: modelId,
                            notificationType: 'task',
                            notifications: notifications.task,
                            distributors: notifications.distributors
                        }"></notification-card>
                        </div>
                        <div ng-switch-when="workorder">
                            <notification-card source="{
                            operatorId: modelId,
                            notificationType: 'workorder',
                            notifications: notifications.workOrder,
                            distributors: notifications.distributors
                        }"></notification-card>
                        </div>
                        <div ng-switch-when="issue">
                            <notification-card source="{
                            operatorId: modelId,
                            notificationType: 'issue',
                            notifications: notifications.issue,
                            distributors: notifications.distributors
                        }"></notification-card>
                        </div>
                        <div ng-switch-when="location">
                            <notification-card source="{
                            operatorId: modelId,
                            notificationType: 'location',
                            notifications: notifications.location,
                            distributors: notifications.distributors
                        }"></notification-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <confirmation id="id" confirm="confirmDelete" title="{{i18n('Popup', 'ElementDeleting')}}"></confirmation>
    <user-create-edit id="editId"></user-create-edit>
</details-popup>