@import '../../../colors.scss';
@import '../../../mixins.scss';
.user-details.details-popup {
    $tagBoxMargin: 20px;
    $tabsMargin: 10px;

    .small-button {
        width: auto;
        margin: 0;

        .dx-button-content {
            padding: 4px;
        }

        .dx-icon {
            margin-right: 0;
        }
    }

    .toolbar {
        flex-shrink: 0;
        @include flex(row);
        justify-content: flex-end;

        .dx-button {
            margin: 0;
        }

        & > div.dx-button {
            margin: 0 0 0 5px;
        }
    }

    .small-tabs {
        flex-shrink: 0;
        margin: $tabsMargin auto;
    }

    .tabs-panel {
        .panel-bar {
            @include flex(row);
            justify-content: space-between;

            .edit-button {
                .dx-button-content {
                    padding: 6px;

                    > i {
                        margin: 0;
                    }
                }
            }
        }
    }

    .multiview {
        @include flex(row);
        height: 100%;
        min-height: 0;
    }

    .grid-container {
        @include flex(column);
        height: 100%;
        min-height: 0;
        position: relative;
    }

    .security, .notifications {
        @include flex(column);
        height: 100%;
    }

    .security-tabs {
        @include flex(column);
        height: 100%;

        & > div {
            @include flex(column);
            height: 100%;
            min-height: 0;
        }

        .permissions-buttons {
            @include flex(row);
            justify-content: flex-end;
            margin-bottom: 10px;
        }
    }

    .notifications-tabs {
        @include flex(column);
        height: 100%;

        & > div {
            @include flex(column);
            height: 100%;
            min-height: 0;

            & > div {
                @include flex(column);
                height: 100%;
                min-height: 0;

                & > div {
                    @include flex(column);
                }
            }
        }
    }

    .edit-reference-button {
        height: 26px;
        &>div {
            padding: 2px 5px;
        }
    }

    .module-select-box {
        & > div {
            @include flex(row);
            justify-content: flex-end;
            align-content: space-between;

            .select-box-label {
                line-height: 36px;
                margin-right: 10px;
            }
        }
    }

    .info-text {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.unknown-type {
    @include flex(column);
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.is-rtl{
    .user-details.details-popup .module-select-box > div .select-box-label{
        margin-left: 10px;
    }
}