﻿<details-popup options="options">
    <div ng-if="!showTabs" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    <div class="details-popup device-details" ng-if="showTabs">
        <div class="tabs" dx-tabs="tabs.tabsOptions"></div>
        <div class="tabs-panel" ng-if="visiblePopup">
            <div ng-if="isLoading" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
            <div ng-if="!isLoading">
                <div ng-if="tabs.selectedTabName == 'common'" class="scroll">
                    <div class="common">
                        <div class="accordion" ng-repeat="accordion in accordions track by $index" ng-show="accordion.visible" ng-if="accordions">
                            <div dx-accordion="accordion.options" dx-item-alias="section">
                                <div class="header" data-options="dxTemplate: { name: 'title' } ">
                                    <div class="bar">
                                        <div class="accordions-spaces"><span class="title">{{section.title}}</span> <span ng-if="section.showStatus" class="summary">{{section.status()}}</span></div>
                                        <div class="small-button dx-button-has-icon" dx-button="{ icon: 'edit', onClick: editClick }" ng-if="section.canEdit"></div>
                                        <div class="small-button dx-button-has-icon" dx-button="closeAccordionButtonOptions(section.name, $index)"></div>
                                    </div>
                                </div>

                                <div class="body" data-options="dxTemplate: { name: 'panel' } ">
                                    <div ng-if="accordion.hideContent" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                    <div class="details-accordions" ng-switch="section.name" ng-if="!accordion.hideContent && section.selected">
                                        <div class="accordion-params" ng-switch-when="params" ng-init="loadSchemas(modelId)">
                                            <gallery ng-if="schemas.length > 0" schemas="schemas"></gallery>
                                            <details-parameters ng-if="$root.hasPermissions(['DEVICE_PARAMETERS']) && common.details.length > 0" fields="common.details" model-id="modelId" popup-for="popupFor">
                                                <connected-object connection="connectedObject"></connected-object>
                                            </details-parameters>
                                        </div>

                                        <div ng-switch-when="parentDevices">
                                            <div ng-if="parentDevices.options" id="commonParentDevicesGrid" dx-data-grid="parentDevices.options"></div>
                                            <div class="no-defined-content" ng-if="parentDevices.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                            <div ng-hide="parentDevices.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>
                                        <div ng-switch-when="childDevices">
                                            <div ng-if="childDevices.options" id="commonChildDevicesGrid" dx-data-grid="childDevices.options"></div>
                                            <div class="no-defined-content" ng-if="childDevices.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                            <div ng-hide="childDevices.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>

                                        <div ng-switch-when="specifics">
                                            <div ng-if="gridParams.options" id="commonGridParamsGrid" dx-data-grid="gridParams.options"></div>
                                            <div ng-hide="gridParams.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bar" style="width: 100%; text-align:center; font-size:large; margin-top:2em;" ng-hide="anyAccordionVisible()">
                            {{$root.i18n("Common", "NoActiveAccordions")}}
                        </div>
                    </div>

                    <grid-slot-edit source="{
                    id: modelId,
                    title: i18n('Popup', 'ParentDevicesEdit'),
                    items: common.parentDevices,
                    popupId: detailsPopupId + 'parentDevices',
                    dictionarySlotMethodName: 'getDevicesHierarchyColumns',
                    dictionaryMethodName: 'getDevicesDefaultColumns',
                    dataMethodName: 'getDevices',
                    dataScope: 'device',
                    toStringColumn: deviceToStringColumn,
                    keyColumn: deviceKeyColumn

                }"></grid-slot-edit>

                    <grid-slot-edit source="{
                    id: modelId,
                    title: i18n('Popup', 'ChildDevicesEdit'),
                    items: common.childDevices,
                    popupId: detailsPopupId + 'childDevices',
                    dictionarySlotMethodName: 'getDevicesHierarchyColumns',
                    dictionaryMethodName: 'getDevicesDefaultColumns',
                    dataMethodName: 'getDevices',
                    dataScope: 'device',
                    toStringColumn: deviceToStringColumn,
                    keyColumn: deviceKeyColumn,
                    onSubmit: submitChildDevices

                }"></grid-slot-edit>
                </div>
                <history ng-if="tabs.selectedTabName == 'history' && $root.hasPermissions(['DEVICE_HISTORY'])" source="{ id: modelId, dataMethodName: 'getHistoryForDevice' }"></history>
                <measurements ng-if="tabs.selectedTabName == 'measurements' && $root.hasPermissions(['MEASUREMENTS_LIST']) && measurementsBridge" source="measurementsBridge"></measurements>
            </div>
        </div>
    </div>
    <confirmation id="id" confirm="confirmDelete" title="{{i18n('Popup','ElementDeleting')}}"></confirmation>
    <devices-details id="detailsPopupId"></devices-details>
    <devices-create-edit id="editId"></devices-create-edit>
</details-popup>