﻿<div class="chart">
    <div class="chart-buttons">
        <div style="margin:0 0px" dx-button="rotateButtonOptions"></div>
        <div style="margin:0 25px 0 0" dx-button="legendButtonOptions"></div>
    </div>
    <div class="chart-container">
        <div class="chart-object" dx-chart="chartOptions"></div>
    </div>
    <div class="tip" ng-if="noSeriesSelected"><span>{{$root.i18n("Common", "SelectSeries")}}</span></div>
</div>
