﻿<div ng-class="{'fullscreen': isMapFullscreen}" dx-map="mapOptions"></div>

<span ng-if="!isMapFullscreen" class="glyphicon glyphicon-remove close-icon" ng-click="closeMap()" title="{{$root.i18n('Common', 'HideMap')}}"></span>
<span ng-if="!isMapFullscreen" class="glyphicon glyphicon-resize-full fullscreen-icon" ng-click="resizeMap()" title="{{$root.i18n('Common', 'ResizeMap')}}"></span>
<span ng-if="isMapFullscreen" class="glyphicon glyphicon-resize-small smallscreen-icon" ng-click="resizeMap()" title="{{$root.i18n('Common', 'ResizeMap')}}"></span>
<span ng-if="!zeroMarkers" ng-class="(isClustering ? 'glyphicon-eye-close' : 'glyphicon-eye-open') + ' ' + (isMapFullscreen ? 'flscreen' : '')" class="glyphicon markers-icon" ng-click="showMarkers()" title="{{$root.i18n('Common', 'ToggleClusters')}}"></span>
<span ng-if="!zeroMarkers" class="glyphicon glyphicon-zoom-out zoomout-icon" ng-click="zoomCenter()" ng-class="(isMapFullscreen ? 'flscreen' : '')" title="{{$root.i18n('Common', 'ZoomCenter')}}"></span>
<span ng-if="!noMarkers && isRowClicked" class="glyphicon glyphicon-zoom-in zoomin-icon" ng-click="zoomIn()" ng-class="(isMapFullscreen ? 'flscreen' : '')" title="{{$root.i18n('Common', 'ZoomIn')}}"></span> 
<h2 ng-if="zeroMarkers">Brak markerów</h2>