﻿@import '../../../colors.scss';
@import '../../../mixins';

.history {
    height: 100%
}

.history > .dx-widget {
    @include flex(column);
    height: 100%;
    min-height: 0;

    .dx-master-detail-row > td {
        padding: 0;
        color: $masterDetailColor;

        .row-footer {
            padding: 7px 0px 7px 120px;
        }
    }
    .dx-datagrid-rowsview {
        .history-column {
            padding-left: 2%;
        }
    }
}