﻿<div class="history">
    <div dx-data-grid="gridOptions" dx-item-alias="row">
        <div ng-if="row.data.longDescription" class="row-footer" data-options="dxTemplate: { name: 'detail' } ">
            {{row.data.longDescription}}
        </div>
    </div>
    <div ng-hide="showGrid" class="text-center loading-container"><div dx-load-indicator="loadingIndicatorOptions"></div></div>
</div>