﻿<div class="change-password-popup" dx-popup="popupOptions">
    <div class="alert alert-danger" ng-show="showError">
        <span class="close" ng-click="showError = null">&times;</span>
        <span>{{showError}}</span>
    </div>
    <div dx-form="formOptions"></div>
    <div class="options-div">
        <div dx-button="cancelBtnOptions"></div>
        <div dx-button="saveBtnOptions"></div>
    </div>
</div>