﻿@import '../../../colors.scss';
@import '../../../mixins';

.options-div {    
    @include flex(row);
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.is-rtl{
    .dx-layout-manager .dx-label-h-align .dx-field-item-label .dx-field-item-label-content{
        width: 160px !important;
    }
}