﻿@import '../../../mixins';

.loading-indicator-popup {
    z-index: 2000 !important;

    .dx-popup-content {
        @include flex(column);
        justify-content: center;
        align-items: center;
    }
}