﻿@import '../../../mixins';
@import '../../../colors';

details-parameters {
    height: 100%;
    display: block;
    min-height: 0;

    .fields {
        min-width: 30%;
        width: 100%;

        .field {
            padding: 5px 10px;
        }

        .field:nth-child(even) {
            background: $evenFieldBGColor;
        }

        .field:first-child {
            padding-top: 0;
        }

        .value {
            display: inline-block;
        }

        .property-checkbox {
            border: 1px solid #000;
            &>div {
                &>span {
                    width: 100%;
                    height: 100%;
                    line-height: 18px;
                    font-size: 12px;
                }
            }
        }

        .property {
            margin-right: 0px;
        }

        .value {
            word-wrap: break-word;
            word-break: break-word;
        }
    }
}

.is-rtl {
    details-parameters {
        .fields {
            .value {
                display: inline-flex;
            }

            .field{
                text-align: right;
            }
        }

        .colon {
            padding-left: 5px;
            padding-right: 5px;
        }
        .value {
            word-wrap: unset;
            word-break: unset;
        }
        .property {
            white-space: nowrap;
        }
        .field-value {
            word-break: break-word;
            word-wrap: break-word;
        }
    }
}