﻿<div dx-scroll-view="scrollViewOptions" class="fields">
    <div class="field" ng-repeat="(key, field) in fields track by $index" ng-switch="field.type" ng-if="(field.value != null && field.value.toString() != '') || field.value == 'false'">        
        <div ng-switch-when="Text">
            <div class="value">
                <strong class="property">{{field.caption}}</strong>
                <strong class="colon">:</strong>
                <span class="field-value">{{field.value}}</span>
                <span ng-if="field.unitName && field.value != null">[{{field.unitName}}]</span>
            </div>
        </div>
        <div ng-switch-when="Real">
            <div class="value">
                <strong class="property">{{field.caption}}</strong>
                <strong class="colon">:</strong>
                {{field.value}}
                <span ng-if="field.unitName && field.value!= null">[{{field.unitName}}]</span>
            </div>
        </div>
        <div ng-switch-when="Integer">
            <div class="value">
                <strong class="property">{{field.caption}}</strong>
                <strong class="colon">:</strong>
                <span ng-switch="field.id">
                    <span ng-switch-when="10005"><!--CommonHelper.distributorColumnId-->
                        <a href="" ng-if="($root.hasPermissions(['DISTRIBUTOR_LIST']) && popupFor !== CommonHelper.distributor) || ($root.hasPermissions(['DISTRIBUTOR_LIST']) && popupFor == CommonHelper.distributor && modelId != field.value && modelId != field.valueReferenceId)" ng-click="DistributorDetails(field)">{{field.value}}</a>
                        <span href="" ng-if="!$root.hasPermissions(['DISTRIBUTOR_LIST']) || ($root.hasPermissions(['DISTRIBUTOR_LIST']) && popupFor == CommonHelper.distributor && modelId == field.value) || ($root.hasPermissions(['DISTRIBUTOR_LIST']) && popupFor == CommonHelper.distributor && modelId != field.value && modelId == field.valueReferenceId)">{{field.value}}</span>
                    </span>
                    <span ng-switch-when="10004"><!--CommonHelper.deviceSerialNumber-->
                        <a href="" ng-if="($root.hasPermissions(['DEVICE_LIST']) && popupFor !== CommonHelper.device) || ($root.hasPermissions(['DEVICE_LIST']) && popupFor == CommonHelper.device && modelId != field.value && modelId != field.valueReferenceId)" ng-click="DeviceDetails(field)">{{field.value}}</a>
                        <span href="" ng-if="!$root.hasPermissions(['DEVICE_LIST']) || ($root.hasPermissions(['DEVICE_LIST']) && popupFor == CommonHelper.device && modelId == field.value) || ($root.hasPermissions(['DEVICE_LIST']) && popupFor == CommonHelper.device && modelId != field.value && modelId == field.valueReferenceId)">{{field.value}}</span>
                    </span>
                    <span ng-switch-when="10003"><!--CommonHelper.meterColumnId-->
                        <a href="" ng-if="($root.hasPermissions(['METER_LIST']) && popupFor !== CommonHelper.meter) || ($root.hasPermissions(['METER_LIST']) && popupFor == CommonHelper.meter && modelId != field.value && modelId != field.valueReferenceId)" ng-click="MeterDetails(field)">{{field.value}}</a>
                        <span href="" ng-if="!$root.hasPermissions(['METER_LIST']) || ($root.hasPermissions(['METER_LIST']) && popupFor == CommonHelper.meter && modelId == field.value) || ($root.hasPermissions(['METER_LIST']) && popupFor == CommonHelper.meter && modelId != field.value && modelId == field.valueReferenceId)">{{field.value}}</span>
                    </span>
                    <span ng-switch-when="10054"><!--route-->
                        <a href="" ng-if="($root.hasPermissions(['ROUTE_LIST']) && popupFor !== CommonHelper.route) || ($root.hasPermissions(['ROUTE_LIST']) && popupFor == CommonHelper.route && modelId != field.value && modelId != field.valueReferenceId)" ng-click="RouteDetails(field)">{{field.value}}</a>
                        <span href="" ng-if="!$root.hasPermissions(['ROUTE_LIST']) || ($root.hasPermissions(['ROUTE_LIST']) && popupFor == CommonHelper.route && modelId == field.value) || ($root.hasPermissions(['ROUTE_LIST']) && popupFor == CommonHelper.route && modelId != field.value && modelId == field.valueReferenceId)">{{field.value}}</span>
                    </span>
                    <span ng-switch-when="10055"><!--Operator rejestrujący-->
                        <a href="" ng-if="($root.hasPermissions(['OPERATOR_LIST']) && popupFor !== CommonHelper.user) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId != field.value && modelId != field.valueReferenceId)" ng-click="UserDetails(field)">{{field.value}}</a>
                        <span href="" ng-if="!$root.hasPermissions(['OPERATOR_LIST']) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId == field.value) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId != field.value && modelId == field.valueReferenceId)">{{field.value}}</span>
                    </span>
                    <span ng-switch-when="10056"><!--Operator wykonujący-->
                        <a href="" ng-if="($root.hasPermissions(['OPERATOR_LIST']) && popupFor !== CommonHelper.user) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId != field.value && modelId != field.valueReferenceId)" ng-click="UserDetails(field)">{{field.value}}</a>
                        <span href="" ng-if="!$root.hasPermissions(['OPERATOR_LIST']) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId == field.value) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId != field.value && modelId == field.valueReferenceId)">{{field.value}}</span>
                    </span>
                    <span ng-switch-when="10100"><!--Operator wykonującego-->
                        <a href="" ng-if="($root.hasPermissions(['OPERATOR_LIST']) && popupFor !== CommonHelper.user) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId != field.value && modelId != field.valueReferenceId)" ng-click="UserDetails(field)">{{field.value}}</a>
                        <span href="" ng-if="!$root.hasPermissions(['OPERATOR_LIST']) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId == field.value) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId != field.value && modelId == field.valueReferenceId)">{{field.value}}</span>
                    </span>
                    <span ng-switch-when="10101"><!--Operator zatwierdzający-->
                        <a href="" ng-if="($root.hasPermissions(['OPERATOR_LIST']) && popupFor !== CommonHelper.user) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId != field.value && modelId != field.valueReferenceId)" ng-click="UserDetails(field)">{{field.value}}</a>
                        <span href="" ng-if="!$root.hasPermissions(['OPERATOR_LIST']) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId == field.value) || ($root.hasPermissions(['OPERATOR_LIST']) && popupFor == CommonHelper.user && modelId != field.value && modelId == field.valueReferenceId)">{{field.value}}</span>
                    </span>
                    <span ng-switch-default>
                        {{field.value}}
                    </span>
                </span>
                <span ng-if="field.unitName && field.value!= null">[{{field.unitName}}]</span>
            </div>
        </div>
        <div ng-switch-when="Datetime">
            <div class="value">
                <strong class="property">{{field.caption}}</strong>
                <strong class="colon">:</strong>
                {{parseDate(field.value)}}
            </div>
        </div>
        <div ng-switch-when="Boolean">
            <strong class="property">{{field.caption}}</strong>
            <strong class="colon">:</strong>
            <div class="value">
                <div class="property-checkbox" dx-check-box="{
                    readOnly: true,
                    value: field.value,
                    height: '18px',
                    width: '18px'
                }"></div>
            </div>
        </div>
        <div ng-switch-default>
            <div class="value">
                <strong class="property" ng-if="field.caption != ''">{{field.caption}}</strong>
                <strong class="property" ng-if="field.caption == ''">
                    {{$root.i18n('Common', 'UnknownType')}} ({{field.type}} {{field.typeId}})
                </strong>
                <strong class="colon">:</strong>
                {{field.value}}
                <span ng-if="field.unitName && field.value!= null">[{{field.unitName}}]</span>
            </div>
        </div>
    </div>
    <div ng-hide="showParams" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    <div ng-transclude></div>
</div>
<distributor-details ng-if="addDistributorDetails" id="detailsPopupId"></distributor-details>
<devices-details ng-if="addDeviceDetails" id="detailsPopupId"></devices-details>
<meter-details ng-if="addMeterDetails" id="detailsPopupId"></meter-details>
<routes-details ng-if="addRouteDetails" id="detailsPopupId"></routes-details>
<user-details ng-if="addUserDetails" id="detailsPopupId"></user-details>