﻿<div class="tracking-module">
    <div class="container-fluid">
        <div ng-if="readedText" class="flex">
            <div class="grid-container">
                <div class="grid" dx-data-grid="trackingGridOptions" dx-item-alias="row">
                    <div ng-if="row.data.eventinfo" class="row-footer" data-options="dxTemplate: { name: 'detail' } ">
                        {{row.data.eventinfo}}
                    </div>
                </div>
            </div>
            <div class="map-container">
                <div class="map">
                    <div ng-if="mapOptions" dx-map="mapOptions"></div>
                </div>
                <div class="control-panel">
                    <div class="slider-container">
                        <div class="slider" dx-slider="sliderOptions"></div>
                    </div>
                    <div class="buttons">
                        <div class="side">
                            <div dx-button="firstButtonOptions"></div>
                            <div dx-button="prevButtonOptions"></div>
                            <div dx-button="startButtonOptions"></div>
                            <div dx-select-box="timeSelectBoxOptions"></div>
                            <div dx-button="pauseButtonOptions"></div>
                            <div dx-button="nextButtonOptions"></div>
                            <div dx-button="lastButtonOptions"></div>
                        </div>
                        <div class="side">
                            <div dx-button="resetButtonOptions" class="align-right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="!readedText" class="flex">
            <file-uploader options="fileUploaderOptions"></file-uploader>
        </div>
    </div>
</div>