﻿@import '../../../colors.scss';
@import '../../../mixins.scss';

.tracking-module {
    width: 100%;
    height: 100%;
    @include flex(row);

    .flex {
        @include flex(row);
        width: 100%;
        height: 100%;
    }

    .container-fluid {
        @include flex(row);
        width: 100%;
        height: 100%;

        .grid-container {
            width: 40%;
            height: 100%;
            margin-right: 10px;

            .grid {
                height: 100%;
                width: 100%;

                .dx-master-detail-cell {
                    color: $masterDetailColor;
                    padding: 10px;
                    white-space: normal;
                    word-wrap: break-word;
                }
            }
        }

        .map-container {
            width: 60%;
            height: 100%;
            margin-left: 10px;
            @include flex(column);

            .map {
                flex-grow: 1;
                height: 0;

                > div {
                    height: 100%;
                }
            }

            .control-panel {
                @include flex(column);


                .buttons {
                    height: 48px;
                    @include flex(row);
                    justify-content: space-between;
                    align-items: center;

                    .side {
                        @include flex(row);
                        justify-content: space-between;
                        align-items: center;

                        .dx-button {
                            margin: 0 5px;
                        }

                        .dx-button-content {
                            @include flex(row);
                            align-items: center;
                            justify-content: center;
                            height: 32px;
                            min-width: 32px;
                            padding: 0;
                            padding-left: 5px;
                            padding-right: 5px;
                        }

                        .radio-group {
                            .dx-collection {
                                @include flex(row);

                                .dx-radiobutton {
                                    @include flex(row);
                                    align-items: center;
                                }

                                .dx-radio-value-container {
                                    padding-left: 5px;
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}