﻿@import '../../../colors.scss';
@import '../../../mixins.scss';

.notification-card {
    position: relative;

    & > .tag-box-container {
        height: auto;
        flex-shrink: 0;
        & > div {
            @include flex(row);
            .tag-box {
                flex-grow: 1;
            }
        }
    }
}