﻿<div class="notification-card">
    <div ng-if="notificationGrid.options" dx-data-grid="notificationGrid.options"></div>
    <div ng-hide="notificationGrid.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    <div class="tag-box-container">
        <div>{{$root.i18n('Popup', 'AdditionalRecipients')}}</div>
        <div>
            <div dx-tag-box="tagBoxOptions" class="tag-box"></div>
            <div dx-button="applyButtonOptions"></div>
        </div>
    </div>
</div>