﻿.filter-columns-popover{
    .filter-list{
        text-align: center;
        width: 40%;
        background-color: #fafafa;
        .dx-list-item.dx-state-focused {
            background-color: #e6e6e6;
            color: black;
        }
    }
    .filter-form-container{
        margin-top: 20px;
        width: 60%;
        .filter-buttons-container{
            display: flex;
            justify-content: flex-end;
             .reset-filter-button, .submit-filter-button {
                margin-top: 15px;
            }
            .reset-filter-button{
                margin-right: 0px;
            }
            .submit-filter-button{
                width: 25%;
            }
        }
        .text-area-filter {
            .dx-field-item-label{
                margin-left: 15px;
            }
            .dx-texteditor{
                margin: 0 15px;
                textarea {
                    height: 130px;
                }
            }
        }
    }
}

.filter-list-popup{
    .dx-popup-content{
        padding: 0 !important;
    }
    .filter-list-in-popup{
        padding: 0;
        border-radius: inherit;
        text-align: center;
        .dx-list-item.dx-state-focused {
            background-color: #e6e6e6 !important;
            color: black !important;
        }
    }
}

.filter-form-popup{
    .dx-item-content.dx-box-item-content{
        margin: 0 20px;
        .dx-texteditor.dx-textbox.dx-textarea{
            height: 100px;
        }
    }
    .filter-buttons-container{
        display: flex;
        justify-content: flex-end;
        .reset-filter-button{
            margin: 20px 0 0 10px;
        }
        .submit-filter-button{
            margin-top: 20px
        }
    }
}
