﻿<div ng-show="isLargeScreen" class="filter-columns-popover" dx-popover="filterPopoverOptions">
    <div class="col-xs-6 filter-list" dx-list="filterListOptions"></div>
    <div class="col-xs-6 filter-form-container">
        <div class="row" dx-form="filterFormOptions"></div>
        <div class="filter-buttons-container">
            <div class="row reset-filter-button" dx-button="resetFilterButtonOptions"></div>
            <div class="row submit-filter-button" dx-button="submitFilterButtonOptions"></div>
        </div>
    </div>
</div>

<div class="filter-list-popup" ng-hide="isLargeScreen" dx-popup="filterListPopupOptions">
    <div class="filter-list-in-popup" dx-list="filterListOptions"></div>
</div>
<div class="filter-form-popup" ng-hide="isLargeScreen"dx-popup="filterFormPopupOptions">
    <div>
        <div class="row" dx-form="filterFormOptions"></div>
        <div class="filter-buttons-container">
            <div class="row reset-filter-button" dx-button="resetFilterButtonOptions"></div>
            <div class="row submit-filter-button" dx-button="submitFilterButtonOptions"></div>
        </div>
    </div>
</div>