﻿<div class="container-fluid login" height-fill>
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 bg-light login-form">
                        <p class="text-center">
                            <span class="language" ng-click="setLocale('pl-PL')"><img src="images/Poland.png" /></span>
                            <span class="language" ng-click="setLocale('en-GB')"><img src="images/United Kingdom(Great Britain).png" /></span>
                        </p>
                        <form name="loginForm" ng-show="!canReset" ng-keypress="keyPressed($event)">
                            <fieldset>
                                <h3 ng-hide="isReset" class="form-title">{{i18n('Login', 'LoginText')}}</h3>
                                <h3 ng-show="isReset" class="form-title">{{i18n('Login', 'PasswordResetText')}}</h3>
                                <div class="alert alert-danger" ng-show="showError">
                                    <span class="close" ng-click="showError = null">&times;</span>
                                    <span>{{showError}}</span>
                                </div>
                                <div class="alert alert-info" ng-show="showInfo">
                                    <span class="close" ng-click="showInfo = null">&times;</span>
                                    <span>{{showInfo}}</span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon-reverse glyphicon glyphicon-user"></span></div>
                                        <input type="text" value="" placeholder="{{i18n('Login', 'UserText')}}" ng-model="loginModel.user" name="UserName" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group" ng-hide="isReset">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon-reverse glyphicon glyphicon-lock"></span></div>
                                        <input type="password" placeholder="{{i18n('Login', 'Password')}}" name="Password" ng-model="loginModel.password" class="form-control custom-form-control" required>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button ng-show="isReset" type="button" class="btn btn-custom btn-blue pull-left" ng-click="isReset = false">
                                        {{i18n('Common', 'Cancel')}} <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <button ng-hide="isReset" type="button" class="btn btn-custom btn-blue pull-left" ng-click="isReset = true">
                                        {{i18n('Login', 'PasswordReset')}} <span class="glyphicon glyphicon-refresh"></span>
                                    </button>
                                    <button ng-hide="isReset" type="submit" class="btn btn-custom btn-blue pull-right" ng-click="logIn()">
                                        {{i18n('Login', 'Login')}} <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                    </button>
                                    <button ng-show="isReset" type="button" class="btn btn-custom btn-blue pull-right" ng-click="sendEmail()">
                                        {{i18n('Login', 'Reset')}} <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                        <form name="resetForm" ng-show="canReset" ng-keypress="keyPressed($event)">
                            <fieldset>
                                <h3 class="form-title">{{i18n('Login', 'EnterNewPassword')}}</h3>
                                <div class="alert alert-danger" ng-show="showError">
                                    <span class="close" ng-click="showError = null">&times;</span>
                                    <span>{{showError}}</span>
                                </div>
                                <div class="alert alert-info" ng-show="showInfo">
                                    <span class="close" ng-click="showInfo = null">&times;</span>
                                    <span>{{showInfo}}</span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        <input type="password" placeholder="{{i18n('Login', 'NewPassword')}}" name="Password" ng-model="password" class="form-control custom-form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                                        <input type="password" placeholder="{{i18n('Login', 'RepeatNewPassword')}}" name="Password" ng-model="password2" class="form-control custom-form-control" required>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="button" class="btn btn-custom btn-blue pull-right" ng-click="passwordReset()">
                                        {{i18n('Login', 'Reset')}} <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 copyright">
                        {{date | date:'yyyy'}} &copy; Aiut Sp. z o.o. v.0.1.{{APP_VERSION}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>