﻿@import '../../mixins';
@import '../../colors';

.login {
    background-image: url(../../../css/img/login-bg.jpg);
    background-size: cover;
    .login-form {
        margin-top: 100px;
        padding: 20px 30px;
        @media (max-width: 768px) {
            margin-top: 20px;
        }
    }

    .bg-light {
        background-color: $loginBGColor
    }

    h3 {
        margin-bottom: 20px;
        color: #eee;
        font-weight: 300;
    }

    p, label {
        color: #fff;
    }

    .form-control {
        background-color: $loginFormControlBGColor;
        @include border-radius(0px);
        &:focus {
            border-color: $loginFormControlFocusBorderColor;
            box-shadow: $loginFormControlShadow;
            outline: 0 none;
        }
    }

    .copyright {
        color: $loginCopyrightColor;
        font-size: 13px;
        padding: 10px;
        text-align: center;
    }

    .input-group-addon {
        background-color: $loginFormControlBGColor;
        @include border-radius(0px);
    }

    .alert.alert-danger {
        @include border-radius(0px);
    }

    .alert.alert-danger.ng-hide-remove {
      animation: slideInUp 0.4s;
    }

    .alert.alert-danger.ng-hide-add {
      animation: slideOutUp 0.4s;
    }

    .language {
        cursor: pointer;
    }
}

.is-rtl{
    .login {
        .form-control{
            text-align: right;
        }
        .input-group-addon{
            padding: 6px 20px 6px 20px;
        }
    }
    .glyphicon-reverse{
        top: 3px;
        right: 7px;
    }
    .form-title{
        text-align: right;
    }
}
