﻿<div class="file-uploader">
    <div class="uploaded">
        <div class="container-fluid popover-content">
            <div class="file-uploader-container">
                <div class="content" ng-if="options.uploaderVisible">
                    <div dx-file-uploader="uploaderOptions"></div>
                </div>
                <div ng-if="!options.uploaderVisible" class="text-center file">
                    <div class="file-name"><h4>{{file.name}}</h4></div>
                </div>
                <div class="button-container">
                    <div ng-if="!options.uploaderVisible" dx-button="cancelFileButtonOptions" class="cancel-button"></div>
                    <div dx-button="submitFileButtonOptions" class="submit-button"></div>
                </div>
            </div>
        </div>
    </div>
</div>