﻿@import '../../../colors.scss';
@import '../../../mixins.scss';

.file-uploader {
    height: 100%;
    width: 100%;
    .uploaded {
        height: 100%;
        width: 100%;

        .popover-content {
            height: 100%;
            padding: 0;

            .dx-fileuploader-dragover {
                .dx-fileuploader-input-wrapper {
                    padding-top: 0 !important;
                    min-height: 100%;
                    min-width: 100%;
                }

                .dx-fileuploader-input-label {
                    @include flex(row);
                    justify-content: center;
                    align-items: center;
                }
            }

            .file-uploader-container {
                height: 100%;
                width: 100%;
                @include flex(column);

                .content {
                    height: 100%;
                }
        
                .dx-fileuploader-container {
                    border: 3px dashed #ddd;
                    @include flex(row);
                    height: 100%;
                    width: 100%;

                    .dx-fileuploader-content {
                        min-width: 100%;
                    }
                }

                .dx-fileuploader-input-wrapper {
                    padding: 0;
                    @include flex(column);
                    align-items: center;
                    height: 100%;
                    padding-top: 7%;

                    .dx-fileuploader-input-container {
                        border: none;

                        .dx-fileuploader-input-label{
                            text-align: center;
                        }
                    }
                }
            }

            .file {
                height: 100%;
                @include flex(column);
                justify-content: space-between;
                padding-bottom: 5px;
                .file-name {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    align-content: center;
                    justify-content: center;
                }
            }

            .button-container {
                @include flex(row);
                align-items: center;
                justify-content: center;
                padding-bottom: 5px;
                width: 100%;

                .cancel-button {
                    width: 30%;
                    margin: 0;
                    margin-right: 10px;
                }

                .submit-button {
                    width: 50%;
                    margin: 0;
                }
            }
        }
    }
}