﻿<layout active="actions">
    <div id="gridContainer_{{gridId}}" class="grid actions" dx-data-grid="dataGridOptions"></div>
    <div class="filter-box-container" ng-show="isFilterBoxVisible">
        <div dx-scroll-view="{width: 'calc(100% - 44px)', direction: 'horizontal'}"><div class="filter-box" dx-tag-box="filterBoxOptions"></div></div>
        <div dx-button="clearFilterButtonOptions"></div>
    </div>
    <div class="no-defined-content" ng-if="!columnsCount">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
    <div ng-show="isSettingsListPopoverVisible" dx-popover="settingsListPopoverOptions">
        <div dx-list="settingsListOptions" dx-item-alias="listItem">
        </div>
    </div>
    <custom-filter></custom-filter>
</layout>