﻿@import '../../colors.scss';
@import '../../mixins.scss';

.actions {
    .dx-master-detail-row {
        border-top: 1px solid #ddd;
        border-bottom: 2px solid #ddd;

        .dx-master-detail-cell {
            padding: 0 !important;

            .dx-datagrid-headers {
               display: none;
            }
        }
    }
}