﻿@import '../../../mixins';

.is-rtl{
    .popup-header {
        .action-buttons{
                .del-button{
                    margin-right: unset;
                    margin-left: 3px;
                }
                .change-site-buttons{
                    @include flex(row);
                    flex-direction: row-reverse;
                }
                .close-button{
                    margin-left: unset;
                    margin-right: 3px;
                }
                .edit-accordions-button{
                    margin-left: 3px;
                }
        }
    }
}

.popup-header {
    @include flex(row);
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        font-size: 12px;
    }

    .header {
        font-size: 1.5em;
    }

    .action-buttons {
        min-width: 120px;
        text-align: right;
        @include flex(row);
        align-items: center;
        .del-button{
            margin-right: 3px;
        }
        .change-site-buttons{
            @include flex(row);
        }
        .close-button{
            margin-left: 3px;
        }
        .edit-accordions-button{
            margin-right: 3px;
        }

        .dx-button {
            @media (max-width: 768px) {
                $smallButtonSize: 24px;

                height: $smallButtonSize;
                width: $smallButtonSize;

                .dx-button-content {
                    padding: 2px;
                }
            }
        }
    }

    .popup-header-content-title {
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.dx-popup-content .dx-button.details-action-button {
    margin: 0;
    width: 100%;

    > .dx-button-content > span {
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }
}

.dx-popup-content {
    .scroll {
        height: 100%;
      
        .dx-scrollable-content {
            @media (min-width: 960px) {
                height: 100%;
            }
        
           .dx-scrollview-content {
               height: 100%;
               width: 100%;
            }
        }
    }
}
