﻿<div class="details-popup" dx-popup="popupOptions">
    <div data-options="dxTemplate: { name: 'title' } ">
        <div class="popup-header">
            <div class="header">{{ getOptions().title }}</div>
            <div class="popup-header-content-title">{{ getOptions().contentTitle }}</div>
            <div class="action-buttons">
                <div dx-popover="actionPopoverOptions">
                    <div ng-repeat="action in actions">
                        <div class="details-action-button" dx-button="action"></div>
                    </div>
                </div>
                <div id="detailsPopupActionsButton" ng-if="actionButtonVisible" dx-button="actionButtonOptions" class="edit-accordions-button"></div>
                <div dx-popover="accordionPopoverOptions">
                    <div ng-if="!accordionIsUnknownReferenceTable" dx-data-grid="accordionGridOptions"></div>
                </div>
                <div ng-if="accordionsButtonVisible" dx-button="accordionsButtonOptions" class="edit-accordions-button"></div>
                <div class="del-button" dx-button="deleteButtonOptions" ng-if="getOptions().delHasPermissions && $root.hasPermissions([getOptions().delHasPermissions])"></div>
				<div class="change-site-buttons">
					<div class="prev-button" dx-button="prevButtonOptions"></div>
					<div class="next-button" dx-button="nextButtonOptions"></div>
				</div>
                <div class="close-button" dx-button="closeButtonOptions"></div>
            </div>
        </div>
    </div>
    <div class="scroll" dx-scroll-view="scrollViewOptions">
        <ng-transclude></ng-transclude>
    </div>
</div>