﻿<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header nav-left">
        <ul class="nav navbar-nav">
            <li class="navbar-logo">
                <a class="dashboard-link" ng-if="$root.hasPermissions(['DASHBOARD_VIEW'])" ng-click="showDashboard()">
                    <div ng-if="!$root.logo" class="navbar-brand">
                        <img src="images/logo.png" />
                    </div>
                    <div ng-if="$root.logo" class="navbar-brand" style="padding: 5px; margin: 0;">
                        <img ng-src="data:image/{{$root.logo.ext}};base64,{{$root.logo.data}}" style="max-height: 100%;" />
                    </div>
                </a>
                <div ng-if="!$root.hasPermissions(['DASHBOARD_VIEW'])">
                    <div ng-if="!$root.logo" class="navbar-brand">
                        <img src="images/logo.png" />
                    </div>
                    <div ng-if="$root.logo" class="navbar-brand" style="padding: 5px; margin: 0;">
                        <img ng-src="data:image/{{$root.logo.ext}};base64,{{$root.logo.data}}" style="max-height: 100%;" />
                    </div>
                </div>
            </li>
            <li>
                <div class="icon-row">
                    <ng-md-icon ng-show="$root.activeDistributors.proccessDone" icon="{{distributorsIcon}}" style="fill: white" size="18"></ng-md-icon>
                </div>
                <span ng-show="$root.activeDistributors.multiple">[...]</span>
                <span class="single-distributor" ng-hide="$root.activeDistributors.multiple">{{$root.activeDistributors.singleDistributor}}</span>
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav nav-right">
        <li ng-if="$root.hasPermissions(['ALARM_LIST'])">
            <a class="header-button alarm-button" ng-click="alarmsMenuOptions.popoverVisible = !alarmsMenuOptions.popoverVisible" >
                <ng-md-icon icon="{{alarmIcon}}" style="fill: white" size="25"></ng-md-icon><div class="index-up" ng-show="$root.alarmsCount > 0"> {{$root.alarmsCount}}</div>
            </a>
        </li>
        <li>
            <a class="header-button menu-button" ng-click="userMenuOptions.popoverVisible = !userMenuOptions.popoverVisible">
                <img class="user-avatar" ng-if="user.avatar" ng-src="{{user.avatar}}" alt="" />
                <div class="row">
                    <div class="icon-row">
                        <ng-md-icon ng-if="!user.avatar" icon="{{userIcon}}" style="fill: white" size="25"></ng-md-icon>
                    </div>
                    <span>{{user.username}}</span>
                </div>
            </a>
        </li>
        <li><a class="logout-icon" ui-sref="logout"><ng-md-icon icon="{{logoutIcon}}" style="fill: white" size="20"></ng-md-icon></a></li>
    </ul>
    <user-menu ng-if="user" user="user" options="userMenuOptions" active-distributors="activeDistributors"></user-menu>
    <alarms-menu ng-if="user" user="user" options="alarmsMenuOptions"></alarms-menu>
</nav>