@import '../../../colors.scss';
@import '../../../mixins';

.navbar.navbar-default {
    border-color: $headerBGColor;
    background-color: $headerBGColor;
    color: #fff;
    z-index: 10;
    white-space:nowrap; 
    @include flex(row);

    @media (max-width: 768px) {
        position: relative;
        margin-bottom: 0;
    }

    .nav-left {
        flex-grow: 1;
        overflow: hidden;

        @media (max-width: 375px) {
            transform: scale(.8);
            margin-left: -15px;
        }

    }

    .nav-right {
        @media (max-width: 375px) {
            transform: scale(.8);

            .alarm-button {
                padding-left: 0;
                padding-right: 0;
            }

            .logout-icon {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    

    .dashboard-link {
        padding: 0;
    }

    .navbar-nav {
        @include flex(row);
        align-items: center;
        margin: 0;

        li {
            a {
                color: $headerTextColor;
                cursor: pointer;
            }

            span {
                padding: 0;
                margin: 5px;
                cursor: pointer;
            }

            .user-avatar {
                width: 40px;
                height: 40px;
            }

            .header-button {
                padding-top: 12px;
                padding-bottom: 6px;
            }

            .logout-icon {
                padding-top: 15px;
                padding-bottom: 10px;
            }

            .distributor-badge {
                border-radius: 20px;
                min-width: 20px;
                font-size: 12px;
                padding: 2px;
                margin: 0 0 0 3px;
            }
        }
    }

    .navbar-brand {
        img {
            float: left;
            clear: both;
        }
    }
}

.navbar-fixed-top {
    z-index: auto;
}

.popup-visible {
    .navbar.navbar-default {
        position: fixed !important;
        min-height: 0;

        .navbar-brand {
            height: 30px;
            padding-top: 5px;
        }

        .navbar-nav li {
            .header-button {
                padding-top: 0;
                padding-bottom: 0;
            }

            .logout-icon {
                padding-top: 3px;
                padding-bottom: 0;
            }
        }
    }
}

.index-up {
    position: absolute;
    top: 3px;
    left: 5px;
    min-width: 24px;
    border-radius: 8px;
    background-color: red;
    text-align: center;
    height: 20px;
    font-size: 11px;
}
