﻿<div class="create-edit-popup" dx-popup="popupOptions">
    <div dx-tabs="tabsOptions"></div>
    <div class="content-edit-popup">
        <div ng-repeat="(index, panel) in panels" ng-show="index == selectedTab" ng-switch="panel.type">
            <div ng-switch-when="form">
                <div dx-form="panel.options"></div>
            </div>
            <div ng-switch-when="grid">
                <div dx-data-grid="panel.options"></div>
            </div>
        </div>
    </div>
    <div class="toolbar" dx-toolbar="toolbarOptions"></div>
    <confirmation id="passwordResetPopupId" confirm="sendEmail" title="{{$root.i18n('Popup', 'PasswordReseting')}}"></confirmation>
    <confirmation id="distributorChangePopupId" confirm="confirm" no="{{$root.i18n('Popup','No')}}" confirm-no="confirmNo" title="{{$root.i18n('Popup','Confirm')}}"></confirmation>
</div>