﻿@import '../../../mixins';

.create-edit-popup {
    .dx-popup-content {
        @include flex(column);
        justify-content: space-between;
        height: 100%;

        .content-edit-popup {
            @include flex(column);
            height: 100%;

            & > div, & > div > div {
                height: 100%;
            }
        }
        .toolbar {
            padding-top: 10px;
            flex-shrink: 0;
            overflow: visible;
        }
    }

    .coordinatesButton {
        margin: 0 !important;
    }

    form {
        .dx-scrollable-container {
            padding-right: 20px;
        }

        .dx-scrollable-content {
            max-width: 100%;
        }
    }

    .dx-item {
        .dx-field-item-label-location-top {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
        