﻿<div class="grid-select">
    <div class="inputs" id="popover_{{::$id}}">
        <div dx-text-box="textBoxOptions"></div>
        <div dx-button="textBoxButtonOptions" ng-class="{'dx-state-active': popoverVisible}" class="text-box-button"></div>
    </div>

    <div dx-popover="popoverOptions">
        <div grid-height-fill dx-data-grid="popoverGridOptions"></div>
        <div class="no-defined-content" ng-if="columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
    </div>
</div>