﻿<div class="scroll">
    <div class="measurements">
        <div class="target">
            <div class="data-types-label">{{$root.i18n("Common", "DataTypes")}}</div>
            <div class="data-types">
                <div dx-tag-box="typeTagsOptions"></div>
            </div>
        </div>

        <div class="measurements-controls">
            <div ng-show="isButtonsPanelVisible" class="measurements-buttons-panel">
                <div class="measurement-button">
                    <div id="position-button-{{$id}}" class="position-button" dx-button="positioningButtonOptions"></div>
                    <div id="grid-button-{{$id}}" dx-button="preferencesButtonOptions" class="preferences-button"></div>
                </div>
                <date-picker class="period-picker" source="datePickerBridge"></date-picker>
                <div class="refresh-button">
                    <div ng-show="isRefreshing" dx-button="exitRefreshButtonOptions"></div>
                    <div ng-hide="isRefreshing" dx-button="refreshButtonOptions"></div>
                </div>
                <div class="export-button">
                    <div dx-button="exportGridButtonOptions"></div>
                </div>
            </div>
            <div id="popoverSettingsListButton" class="settings-list-button" ng-hide="isButtonsPanelVisible" dx-button="settingsListButtonOptions"></div>
            <div class="filter">
                <div class="filter-select" ng-show="showFilterOptions">
                    <div ng-model="filter" dx-select-box="selectFilterOptions"></div>
                </div>
                <div class="filter-tags">
                    <div ng-if="source.groups" ng-show="filter == 1" dx-tag-box="groupTagsOptions"></div>
                    <div ng-if="source.devices" ng-show="filter == 2" dx-tag-box="deviceTagsOptions"></div>
                    <div ng-if="source.meters" ng-show="filter == 3" dx-tag-box="meterTagsOptions"></div>
                </div>
            </div>
        </div>

        <div class="gridster-custom-container" ng-if="!hideGridster">
            <div gridster="gridsterOpts" class="data" ng-if="gridOptions && (selectedGroups && selectedDevices && selectedMeters)">
                <ul style="height: 100% !important">
                    <li ng-hide="isFullScreenChart" gridster-item="gridsterGridOpts" class="gridster-item-custom">
                        <span class="glyphicon glyphicon-move drag-icon" ng-if="gridsterOpts.draggable.enabled"></span>   
                        <div class="grid">
                            <div class="grid-content" dx-data-grid="gridOptions"></div>
                        </div>
                    </li>
                    <li ng-hide="isFullScreenGrid" gridster-item="gridsterChartOpts" class="gridster-item-custom">
                        <span class="glyphicon glyphicon-move drag-icon" ng-if="gridsterOpts.draggable.enabled"></span>   
                        <measurements-chart ng-if="chartBridge" source="chartBridge" meters="source.meters" devices="source.devices" locations="source.locations" groups="source.groups"></measurements-chart>
                    </li>
                </ul>
            </div>
            <div ng-hide="source.showMeasurements" class="loading-container"><div dx-load-indicator="loadingIndicatorOptions"></div></div>
        </div>

        <div class="measurements-grid" ng-if="addGrid"><div class="grid-content" dx-data-grid="gridOptions"></div></div>
    </div>
    <div dx-popover="gridTypePopoverOptions">
        <div dx-list="gridTypeListOptions"></div>
    </div>

    <div dx-popover="positioningPopoverOptions">
        <div dx-list="positioningListOptions"></div>
    </div>

    <div class="measurements-settings-list" ng-show="isSettingsListPopoverVisible" dx-popover="settingsListPopoverOptions">
        <div dx-list="settingsListOptions">
        </div>
    </div>

    <div dx-popup="datesPopupOptions">
        <date-picker class="period-picker" source="datePickerBridge"></date-picker>
    </div>
</div>