﻿@import '../../../mixins';
@import '../../../colors';

.measurements {
    @include flex(column);
    width: 100%;
    height: 100%;

    .target {
        @include flex(row);
        align-items: center;
        flex-shrink: 0;
        flex-basis: auto;

        .data-types-label {
            display: block;
            padding: 0 10px;
            flex-shrink: 0;
        }

        .data-types {
            width: 100%;
            min-width: 0;
        }
    }

    .measurements-controls {
        @include flex(row);
        min-width: 0;
        margin: 10px 0;
        flex-shrink: 0;
        flex-basis: auto;
        justify-content: flex-start;

        & > * {
            vertical-align: middle;
            @include flex(row);
        }

        .measurements-buttons-panel {
            @include flex(row);

            .measurement-button, .export-button, .refresh-button {
                @include flex(row);
                margin: 0 3px;                         
                justify-content: flex-start;
                height: 36px;
                &:first-child {
                    margin-left: 0;
                }
                .position-button{
                    margin-right: 3px;  
                    padding-bottom: 7px;                              
                }
                //hack for IE9 and 10
                @media screen and (min-width:0\0) {
                    padding-bottom:3px !important; 
                }
            }

            .period-picker {
                flex-shrink: 0;
            }

            .export-button {
                margin: 0 4px 0 1px;
            }

            .dx-button {
                margin: 0;                
            }
        }

        .filter {
            @include flex(row);
            width: 100%;
            flex: 1;

            .filter-select {
                padding-right: 5px;
                padding-left: 5px;
                box-sizing: border-box;
                min-width: 130px;
            }

            .filter-tags {
                @include flex(row);
                width: 100%;
                position: relative;
                .dx-tagbox {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    .gridster-custom-container {
        width: 100%;
        height: 100%;
        min-width: 0;
        min-height: 0;
        position: relative;

        .data {
            min-height: 0;
            min-width: 0;
            height: 100%;
            width: 100%;
            .gridster-item-custom {
                border: 1px solid $customBorderColor;
                @include transition(height 0ms ease)
            }

            .chart {
                @include flex(column);
                height: 100%;
                width: 100%;
                background: $backgroundColor;

                .chart-container{
                    width: 100%;
                    height: 100%;
                    @include flex(column);
                }
            }

            .grid {
                height: 100%;
                position: relative;
            }

            .chart-container, .grid {
                & > div {
                    width: 100%;
                    height: 100%;
                    background: $backgroundColor;
                    z-index: 1;
                }

                .loading-indicator{
                    z-index: 1;
                }
            }
        }
    }

    .measurements-grid {
        height: 0;
        flex-grow: 1;
    }

    .tip {
        @include flex(row);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        font-style: italic;
        text-align: center;
        pointer-events: none;
        justify-content: center;
        align-items: center;
        color: gray;
        font-size: 1em;

        span {
            padding: 10px;
            border: 2px solid $customBorderColor;
            border-radius: 4px;
            background: white;
        }
    }

    .settings-list-button{
        margin: 0 3px 0 0 !important; 
    }

    @include media(mobile) {
        & {
            padding: 0 0 0 0;
        }
    }
}

.measurements-settings-list{
    .settings-refresh-button{
        border: 0;
        border-radius: inherit;
        height: 100%;
        width: 100%;
        margin: 0px 0px !important;
    }

    .settings-refresh-button:hover{
        background-color: #f5f5f5;
    }
    .settings-refresh-button:focus{
        background-color: #337ab7;
    }

    .refresh-button-row .exit-button-row{
        display: inline-block;
        vertical-align: middle;  
    }

    .preferences-button{
        padding-bottom: 3px;
    }
}

.chart {
    @include flex(column);
    width: 100%;
    height: 100%;
    min-height: 0;
    min-width: 0;
    position: relative;

    .chart-buttons {
        top: 3px;
        width: 100%;
        text-align: right;
        margin-top: 3px;
        height: 36px;
        .dx-button {
            height: 100%;
        }
    }

    .chart-container{
        @include flex(column);
        width: 100%;
        height: calc(100% - 36px);
        min-width: 0;
        flex-shrink: 1;
        position: relative;

        .chart-object {
            height: 100%;
        }
    }
}

.is-rtl{
    .measurements .measurements-controls .dx-button {
        margin: 0 1px;
    }
    .chart-buttons {
        text-align: left;
    }
}