﻿<div style="position: relative">
    <div ng-if="options" dx-map="options"></div>
    <div ng-hide="showMap" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    <div ng-show="isLoading" class="text-center loading-container" style="background-color: transparent"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
</div>