﻿<div class="route-popup">
    <create-edit-popup options="options"></create-edit-popup>
</div>

<!--<div dx-popup="createEditPopupOptions">
    <div class="devices-details">
        <div class="details">
            <div ng-repeat="(key, value) in createEditDetails">
                {{key}}: {{value}}
            </div>
        </div>
        <div class="toolbar" dx-toolbar="createEditToolbarOptions"></div>
    </div>
    <location-delete-confirmation></location-delete-confirmation>
</div>-->