﻿@import '../../../mixins';

.slots {
    @include flex(column);
    height: 100%;
    min-height: 0;

    .installed {
        @include flex(row);
        height: 100%;
        min-height: 0;
    }

    .toolbar {
        @include flex(row);
        flex-shrink: 0;
        justify-content: flex-end;
        padding-top: 10px;
        align-items: center;

        .dx-button {
            margin: 0;
        }

        .grid-button {
            margin-left: 5px;
        }

        & > div.dx-button, .dx-switch {
            margin: 0 0 0 5px;
        }
    }
}