﻿<div dx-popup="popupOptions">
    <div class="slots">
        <div class="installed">
            <div dx-data-grid="gridOptions"></div>
        </div>
        <div class="toolbar">           
            <grid-button bridge="bridge"></grid-button>
            <div dx-button="removeButtonOptions"></div>
            <div dx-switch="stateSwitchOptions"></div>
            <div dx-button="saveButtonOptions"></div>
        </div>
    </div>
</div>