﻿<layout active="users">
    <div ng-hide="showGrid" class="loading-container"><div dx-load-indicator="loadingIndicatorOptions"></div></div>
    <div id="gridContainer_{{gridId}}" class="grid" dx-data-grid="dataGridOptions"></div>
    <div class="filter-box-container">
        <div dx-scroll-view="{width: 'calc(100% - 44px)', direction: 'horizontal'}"><div class="filter-box" dx-tag-box="filterBoxOptions"></div></div>
        <div dx-button="clearFilterButtonOptions"></div>
    </div>
    <div class="no-defined-content" ng-if="columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
    <user-create-edit id="popupId"></user-create-edit>
    <user-details id="popupId"></user-details>
    <import options="importOptions"></import>
    <div ng-show="isSettingsListPopoverVisible" dx-popover="settingsListPopoverOptions">
        <div dx-list="settingsListOptions" dx-item-alias="listItem">
        </div>
    </div>
    <custom-filter></custom-filter>
</layout>