﻿<details-popup options="options">
    <div ng-if="!showTabs" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    <div class="details-popup" ng-if="showTabs">
        <div class="tabs" dx-tabs="tabs.tabsOptions"></div>
        <div class="tabs-panel" ng-if="visiblePopup" ng-switch="tabs.selectedTabName">
            <div ng-if="isLoading" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
            <div ng-if="!isLoading">
                <div ng-switch-when="common" class="scroll">
                    <div class="common">
                        <div class="accordion" ng-repeat="accordion in accordions track by $index" ng-show="accordion.visible" ng-if="accordions">
                            <div dx-accordion="accordion.options" dx-item-alias="section">
                                <div class="header" data-options="dxTemplate: { name: 'title' } ">
                                    <div class="bar">
                                        <div class="accordions-spaces"><span class="title">{{section.title}}</span> <span ng-if="section.showStatus" class="summary">{{section.status()}}</span></div>
                                        <div class="small-button dx-button-has-icon" dx-button="{ icon: 'edit', onClick: editClick }" ng-if="section.canEdit"></div>
                                        <div class="small-button dx-button-has-icon" dx-button="closeAccordionButtonOptions(section.name, $index)"></div>
                                    </div>
                                </div>

                                <div class="body" data-options="dxTemplate: { name: 'panel' } ">
                                    <div ng-if="accordion.hideContent" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                    <div class="details-accordions" ng-switch="section.name" ng-if="!accordion.hideContent && section.selected">
                                        <div class="accordion-params" ng-switch-when="params" ng-init="loadSchemas(modelId)">
                                            <gallery ng-if="schemas.length > 0" schemas="schemas"></gallery>
                                            <details-parameters ng-if="common.details.length > 0 && $root.hasPermissions(['METER_PARAMETERS'])" fields="common.details" model-id="modelId" popup-for="popupFor">
                                                <connected-object connection="connectedObject"></connected-object>
                                            </details-parameters>
                                        </div>

                                        <div ng-switch-when="devices">
                                            <div ng-if="devices.options" dx-data-grid="devices.options"></div>
                                            <div class="no-defined-content" ng-if="devices.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                            <div ng-hide="devices.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>

                                        <div ng-switch-when="devices">
                                            <div ng-if="devices.options" dx-data-grid="devices.options"></div>
                                            <div class="no-defined-content" ng-if="devices.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                            <div ng-hide="devices.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>

                                        <div ng-switch-when="alarmGroups">
                                            <div ng-if="alarmGroups.options" dx-data-grid="alarmGroups.options"></div>
                                            <div class="no-defined-content" ng-if="alarmGroups.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                            <div ng-hide="alarmGroups.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bar" style="width: 100%; text-align:center; font-size:large; margin-top:2em;" ng-hide="anyAccordionVisible()">
                            {{$root.i18n("Common", "NoActiveAccordions")}}
                        </div>
                    </div>

                    <grid-edit ng-if="common.devices" source="deviceBridge"></grid-edit>
                </div>
                <!--history-->
                <history ng-switch-when="history" source="{
                id: modelId,
                dataMethodName: 'getHistoryForMeter'
            }" ng-if="$root.hasPermissions(['METER_HISTORY'])"></history>
                <measurements ng-switch-when="measurements" ng-if="$root.hasPermissions(['MEASUREMENTS_LIST']) && measurementsBridge" source="measurementsBridge"></measurements>
            </div>
        </div>
    </div>
    <confirmation id="id" confirm="confirmDelete" title="{{i18n('Popup', 'ElementDeleting')}}"></confirmation>
    <meter-create-edit id="editId"></meter-create-edit>
</details-popup>