﻿<details-popup options="options">
    <div ng-if="!showTabs" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    <div class="details-popup route-details" ng-if="showTabs">
        <div class="tabs" dx-tabs="tabs.tabsOptions"></div>
        <div class="tabs-panel" ng-if="visiblePopup" ng-switch="tabs.selectedTabName">
            <div ng-if="isLoading" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
            <div ng-if="!isLoading">
                <div ng-switch-when="common" class="scroll">
                    <div class="common">
                        <div class="accordion" ng-repeat="accordion in accordions track by $index" ng-show="accordion.visible" ng-if="accordions">
                            <div dx-accordion="accordion.options" dx-item-alias="section">
                                <div class="header" data-options="dxTemplate: { name: 'title' } ">
                                    <div class="bar">
                                        <div class="accordions-spaces"><span class="title">{{section.title}}</span> <span ng-if="section.showStatus" class="summary">{{section.status()}}</span></div>
                                        <div class="small-button dx-button-has-icon" dx-button="{ icon: 'edit', onClick: editClick }" ng-if="section.canEdit"></div>
                                        <div class="small-button dx-button-has-icon" dx-button="closeAccordionButtonOptions(section.name, $index)"></div>
                                    </div>
                                </div>

                                <div class="body" data-options="dxTemplate: { name: 'panel' } ">
                                    <div ng-if="accordion.hideContent" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                    <div class="details-accordions" ng-switch="section.name" ng-if="!accordion.hideContent && section.selected">
                                        <div class="accordion-params" ng-switch-when="params">
                                            <details-parameters ng-if="common.details.length > 0" fields="common.details" model-id="modelId" popup-for="popupFor"></details-parameters>
                                        </div>

                                        <div ng-switch-when="points" ng-if="$root.hasPermissions(['ROUTE_POINTS'])">
                                            <div ng-if="routePoints.options" id="commonRoutePointsParamsGrid" dx-data-grid="routePoints.options"></div>
                                            <div class="no-defined-content" ng-if="routePoints.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                            <div ng-hide="routePoints.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>
                                        <div ng-switch-when="operators" ng-if="$root.hasPermissions(['ROUTE_ASSIGNED_OPERATOR'])">
                                            <div ng-if="routeOperators.options" id="commonRouteOperatorsParamsGrid" dx-data-grid="routeOperators.options"></div>
                                            <div class="no-defined-content" ng-if="routeOperators.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                            <div ng-hide="routeOperators.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>

                                        <div ng-switch-when="maps" class="map">
                                            <map ng-if="mapData" data-mapdata="mapData"></map>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bar" style="width: 100%; text-align:center; font-size:large; margin-top:2em;" ng-hide="anyAccordionVisible()">
                            {{$root.i18n("Common", "NoActiveAccordions")}}
                        </div>
                    </div>
                    <grid-edit source="pointsBridge" ng-if="pointsBridge"></grid-edit>
                    <grid-edit source="operatorsBridge" ng-if="operatorsBridge"></grid-edit>
                </div>
                <div ng-switch-when="tracking" class="scroll">
                    <tracking></tracking>
                </div>
            </div>
        </div>
    </div>
    <confirmation id="id" confirm="confirmDelete" title="{{i18n('Popup','RouteDelete')}}"></confirmation>
    <routes-details id="detailsPopupId"></routes-details>
    <routes-create-edit id="editId"></routes-create-edit>
    <tasks-details id="tasksDetailsPopupId"></tasks-details>
</details-popup>