﻿<div class="common grid-details">
    <div ng-if="settings.ids && settings.ids.length> 0" class="grid-details-content">
        <div class="grid-details-content-left">
            <div ng-if="details.length == 1" class="grid-details-params">
                <gallery ng-if="schemas.length > 0" schemas="schemas"></gallery>
                <details-parameters ng-if="details[0].length> 0" fields="details[0]"></details-parameters>
            </div>
            <div ng-if="details.length> 1 && gridOptions" class="grid-container">
                <div class="switch" ng-if="settings.filterMethodName && !hideFilter">
                    <div dx-switch="filterSwitchOptions"></div>
                </div>
                <div dx-data-grid="gridOptions" class="grid"></div>
            </div>
        </div>
        <div class="grid-details-content-right" ng-if="chartBridge">
            <measurements-chart source="chartBridge" groups="tooltipNames" show-all-series="false"></measurements-chart>
            <div ng-if="chartBridge.selectedTypes.length == 0" class="center-absolute">{{$root.i18n('Common', 'NoDataToShow')}}</div>
        </div>
        <div ng-show="showLoading" class="center-absolute loader"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    </div>
    <div ng-if="!settings.ids || settings.ids.length == 0" class="center-absolute">
        {{$root.i18n('Common', 'SelectRowToShowDetails')}}
    </div>
</div>
