﻿@import '../../../colors.scss';
@import '../../../mixins.scss';

.grid-details {
    height: 100%;
    .grid-details-content {
        @include flex(column);
        height: 100%;
        width: 100%;
        .grid-details-content-left {
            height: 50%;
            width: 100%;
            position: relative;
            padding: 5px;
            .grid-details-params {
                @include flex(column);
                height: 100%;
            }

            .fields {
                height: 100%;
            }

            .grid-container {
                height: 100%;
                @include flex(column);

                .grid {
                    flex-grow: 1;
                }
            }
        }
        .grid-details-content-right {
            height: 50%;
            width: 100%;
            position: relative;
            padding: 5px;
            .chart {
                position: relative;
                width: 100% !important;
                height: 100%;
                svg {
                    height: 100%;
                }
            }
        }
        .loader{
            background-color: $backgroundColor;
        }
    }
}
.landscape {
    .grid-details-content {
        @include flex(row);
        .grid-details-content-left {
            height: 100%;
            width: 50%;
        }
        .grid-details-content-right {
            height: 100%;
            width: 50%;
        }
    }
}