﻿<layout active="deviceconnections">
    <div ng-hide="showGrid" class="loading-container"><div dx-load-indicator="loadingIndicatorOptions"></div></div>
    <div gridster="gridsterOpts">
        <ul ng-class="{'border': isOwnPosition}">
            <li gridster-item="gridsterGridOpts" class="padding-top-10">
                <span class="glyphicon glyphicon-move drag-icon" ng-if="gridsterOpts.draggable.enabled"></span>
                <div id="gridContainer_{{gridId}}" class="grid" dx-data-grid="dataGridOptions"></div>
                <div class="filter-box-container" ng-show="isFilterBoxVisible">
                    <div dx-scroll-view="{width: 'calc(100% - 44px)', direction: 'horizontal'}"><div class="filter-box" dx-tag-box="filterBoxOptions"></div></div>
                    <div dx-button="clearFilterButtonOptions"></div>
                </div>
            </li>
            <li gridster-item="gridsterSecondRowOpts" ng-if="isSecondRowVisible" class="second-row">
                <span class="glyphicon glyphicon-move drag-icon" ng-if="gridsterOpts.draggable.enabled"></span>
                
                <map ng-if="mapData && isMapVisible" data-mapdata="mapData" data-selectedrowsdata="rowsData"></map>

                <div ng-if="isDetailsVisible" style="height: 100%;">
                    <grid-details ng-if="gridDetailsSettings" settings="gridDetailsSettings"></grid-details>
                </div>
                
            </li>
        </ul>
    </div>
    <div class="no-defined-content" ng-if="columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
    <deviceconnections-details id="popupId"></deviceconnections-details>
    <devices-details id="popupId"></devices-details>
    <div id="SecondRowPositionPopover" dx-popover="positionPopoverOptions"><div dx-list="positionListOptions"></div></div>
    <import options="importOptions"></import>
    <div ng-show="isSettingsListPopoverVisible" dx-popover="settingsListPopoverOptions">
        <div dx-list="settingsListOptions" dx-item-alias="listItem">
        </div>
    </div>
    <custom-filter></custom-filter>
</layout>