﻿<layout active="devices">
    <div ng-hide="showGrid" class="loading-container"><div dx-load-indicator="loadingIndicatorOptions"></div></div>
    <div dx-button="returnButtonOptions" ng-hide="isGridShown" ng-style="returnButtonStyle" ng-mouseover="onReturnButtonMouseOver()" ng-mouseleave="onReturnButtonMouseOut()"></div>
    <div gridster="gridsterOpts">
        <ul ng-class="{'border': isOwnPosition}">
            <li gridster-item="gridsterGridOpts" class="padding-top-10" ng-show="isGridShown">
                <div dx-button="pinSwitchOptions" ng-show="showGrid" ng-style="switchButtonStyle"></div>
                <span class="glyphicon glyphicon-move drag-icon" ng-if="gridsterOpts.draggable.enabled"></span>
                <div id="gridContainer_{{gridId}}" class="grid" dx-data-grid="dataGridOptions"></div>
                <div class="filter-box-container" ng-show="isFilterBoxVisible">
                    <div dx-scroll-view="{width: 'calc(100% - 44px)', direction: 'horizontal'}"><div class="filter-box" dx-tag-box="filterBoxOptions"></div></div>
                    <div dx-button="clearFilterButtonOptions"></div>
                </div>
            </li>
            <li gridster-item="gridsterSecondRowOpts" ng-if="isSecondRowVisible" class="second-panel" ng-click="onFocus()">
                <span class="glyphicon glyphicon-move drag-icon" ng-if="gridsterOpts.draggable.enabled"></span>
                <div ng-show="isDetailsVisible" style="height: 100%;">
                    <grid-details ng-if="gridDetailsSettings" settings="gridDetailsSettings" ng-class="{'landscape':isLandscape}"></grid-details>
                </div>
                <span ng-if="isDetailsVisible" class="glyphicon glyphicon-remove close-icon" ng-click="closeSecondRow()"></span>
            </li>
        </ul>
    </div>

    <div id="SecondRowPositionPopover" dx-popover="positionPopoverOptions"><div dx-list="positionListOptions"></div></div>
    <div class="no-defined-content" ng-if="columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
    <devices-details id="popupId"></devices-details>
    <devices-create-edit id="popupId"></devices-create-edit>
    <import options="importOptions"></import>
    <div ng-show="isSettingsListPopoverVisible" dx-popover="settingsListPopoverOptions">
        <div dx-list="settingsListOptions" dx-item-alias="listItem">
        </div>
    </div>
    <custom-filter></custom-filter>
</layout>