﻿@import '../../../mixins';

.attachments {
    @include flex(column);
    height: 100%;
    min-height: 0;

    .uploaded {
        @include flex(row);
        height: 100%;
        min-height: 0;
    }

    .toolbar {
        @include flex(row);
        flex-shrink: 0;
        justify-content: flex-end;
        padding-top: 10px;
        align-items: center;

        .dx-button {
            margin: 0;
        }

        .grid-button {
            margin-left: 5px;
        }

        & > div.dx-button {
            margin: 0 0 0 5px;
        }
    }

    
}

.popover-content {
    height: 100%;

    .dx-fileuploader-dragover .dx-fileuploader-input {
        height: 100%;
        padding: 0;
    }

    .dx-fileuploader-dragover {
        .dx-fileuploader-input-wrapper {
            padding-top: 0 !important;
        }

        .dx-fileuploader-input-label {
            @include flex(row);
            justify-content: center;
            align-items: center;
        }
    }

    .file-uploader-container {
        height: 100%;

        .content {
            height: 100%;
        }
        
        .dx-fileuploader-container {
            border: 3px dashed #ddd;
        }

        .dx-fileuploader-input-wrapper {
            padding: 0;
            @include flex(column);
            align-items: center;
            height: 100%;
            padding-top: 15%;

            .dx-fileuploader-input-container {
                border: none;

                .dx-fileuploader-input-label{
                    text-align: center;
                }
            }
        }
    }

    .file {
        height: 100%;
        @include flex(column);
        justify-content: space-between;
        padding-bottom: 5px;
        .file-name {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }
        .cancel-button {
            width: 100%;
            margin: 0;
        }
    }

    .form-container {
        height: 100%;
        @include flex(column);
        justify-content: space-between;
        padding-bottom: 5px;

        .submit-button {
            margin: 0;
        }

        .text-area-description {
            textarea {
                height: 100px;
            }
        }
    }
}