﻿<div dx-popup="popupOptions">
    <div class="attachments">
        <div class="uploaded">
            <div dx-data-grid="gridOptions"></div>
        </div>
        <div class="toolbar">
            <div dx-button= "deleteButtonOptions"></div>
            <div id="popover_{{::$id}}" dx-button="attachFileButtonOptions"></div>
            <div dx-popover="popoverOptions">
                <div class="container-fluid popover-content">
                    <div class="col-xs-6 file-uploader-container">
                        <div class="content" ng-show="uploaderVisible">
                            <div dx-file-uploader="uploaderOptions"></div>
                        </div>
                        <div ng-hide="uploaderVisible" class="text-center file">
                            <div class="file-name"><h4>{{file.name}}</h4></div>
                            <div dx-button= "cancelFileButton" class="cancel-button"></div>
                        </div>
                    </div>
                    <div class="col-xs-6 form-container">
                        <div dx-form="formOptions"></div>
                        <div dx-button="submitFileButton" class="submit-button"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>