﻿@import '../../mixins.scss';
@import '../../colors.scss';

.dashboard {
    width: 100%;
    height: 100%;

    .dashboard-row {
        margin: 0;

        .column {
            padding: 0;
            @media (min-width: 768px) {
                margin: 10px 0;
            }
            .row {
                margin: 0 5px;
                padding: 0 0;
                height: 100%;
                @include border-radius(5px);

                .flex {
                    @include flex(column);
                    justify-content: flex-start;
                    align-items: center;
                }
            }
        }
    }

    &.fit-to-screen {
        .dx-scrollview-content {
            height: 100%;
            position: absolute;
            width: 100%;
            padding: 0 5px;
        }
        .dashboard-row {
            height: 100%;
            overflow: hidden;
            .column {
                height: 100%;
                .row {
                    height: 100%;
                    > div {
                        height: 100%;
                        padding: 0px 5px;
                    }
                }
            }
        }
    }

    &.use-margin {
        .dashboard-row {
            margin: 5px;
        }
    }

    &.use-padding {
        .dashboard-row {
            padding: 5px;
        }
    }

    .item-fit-to-screen {
        height: 100%;
    }

    .table-wrapper {
        @include flex(column);
        > div {
            max-height: 100%;
            flex: 1;
            overflow: hidden;
            height: 100%;
        }
    }
}