﻿<layout active="home" height-fill-disable="model.fitToScreen">
    <div class="dashboard" dx-scroll-view="{ direction: 'vertical' }" ng-class="{'fit-to-screen': model.fitToScreen, 'use-margin': model.useMargin, 'use-padding': model.usePadding}" ng-style="dashboardStyle">
        <div ng-repeat="row in model.rows" ng-style="{height: rowHeight}">
            <div class="row dashboard-row">
                <div ng-repeat="column in row.columns track by $index" class="col-xs-{{column.size}} column" ng-class="{ 'border-with-title': column.borderVisible }">
                    <span class="title" ng-if="column.borderVisible">{{column.title}}</span>
                    <div class="row border">
                        <div ng-repeat="item in column.items" class="col-xs-{{item.size}}" ng-if="item.data" ng-class="{'flex': item.type == 2}">
                            <item-tile ng-if="item.type == 0" data="item.data" item-title="item.title"></item-tile>
                            <item-meter ng-if="item.type == 1" data="item.data" item-title="item.title"></item-meter>
                            <item-table style="height:100%" ng-if="item.type == 2" data="item.data" item-title="item.title" fit-to-screen="model.fitToScreen" ng-class="{'item-fit-to-screen': model.fitToScreen}"></item-table>
                            <item-chart ng-if="item.type == 3" data="item.data" item-title="item.title" fit-to-screen="model.fitToScreen" ng-class="{'item-fit-to-screen': model.fitToScreen}"></item-chart>
                            <item-map ng-if="item.type == 4" data="item.data" item-title="item.title" fit-to-screen="model.fitToScreen" ng-class="{'item-fit-to-screen': model.fitToScreen}"></item-map>
                            <item-schema ng-if="item.type == 5" data="item.data" item-title="item.title"></item-schema>
                        </div>
                        <div class="col-md-12 text-center" ng-if="!(column.items && column.items[0] && column.items[0].data)">
                            <div dx-load-indicator="{height: 40, width: 40}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</layout>