﻿<div class="confirmation-popup" dx-popup="popupOptions">
    <div class="popup-content" dx-template="{name: 'content'}">
        {{confirmQuestion}}
    </div>
    <div class="toolbar" dx-toolbar="toolbarOptions"></div>
</div>