﻿@import 'colors.scss';
@import 'details-popup.scss';

html, body {
    font-family: "Open Sans", sans-serif;
    background-color: $backgroundColor;

    .popup-visible {
        overflow: hidden;
    }

    @media (min-width: 768px) {
        height: 100%;
        overflow: hidden;
    }
}

body {
    height: auto;
}

.content {
    > div {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.grid {
    height: auto;
    width: 100%;
}

.dx-datagrid-header-panel .dx-toolbar .dx-toolbar-items-container {
    height: 38px;
}

.no-defined-content {
    align-items: center;
    background-color: #fff;
    @include flex(column);
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
}

.common {
    .fields {
        min-width: 30%;
        width: 100%;

        .field {
            padding: 5px 10px;
        }

        .field:nth-child(even) {
            background: $evenFieldBGColor;
        }

        .field:first-child {
            padding-top: 0;
        }

        .value {
            display: inline-block;
        }
    }
}

.border-with-title {
    position: relative;

    .title {
        color: $dashboardTitleTextColor;
        background-color: $dashboardTitleBGColor;
        padding: 0 20px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .border {
        border: 1px solid $customBorderColor;
    }
}

.no-border-title  {
    color: $dashboardTitleTextColor;
    background-color: $dashboardTitleBGColor;
    margin: 10px 5px;
    display: block;
    text-align: center;
}

.dx-datagrid-header-panel .dx-toolbar-menu-container .dx-button {
    margin-left: 0px;
    margin-right: 0px !important;
}

.center-absolute {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    text-align: center;
    padding: 5%;
    height: 100%;
    background-color: $backgroundColor;
    z-index: 200;
    @include flex(column);
    justify-content: center;
    align-items: center;
}

.icon-row {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
}

.dx-editor-container {
    .dx-tag {
        padding-left: 24px;
    }

    .dx-tag-container {
        padding-right: 20px;
    }
}

.margin-top-10 {
    margin-top: 10px;
}

.dx-rtl .dx-toolbar .dx-toolbar-menu-container {
    padding: 0 0 0 5px;
}

.is-rtl {
    .navbar.navbar-default .navbar-nav li span {
        padding: 0 20px 0 0;
    }

    .navbar.navbar-default .navbar-nav {
        flex-direction: row-reverse;
    }

    .pull-right {
        float: left !important;
    }

    .pull-left {
        float: right !important;
    }

    .input-group {
        @include flex(row-reverse);
    }

    .dx-datagrid-nodata {
        left: 45%;
    }

    .dx-rtl .dx-field-item-required-mark {
        float: right;
    }

    .dx-toolbar-label .dx-toolbar-item-content > div {
        direction: ltr;
    }

    .dx-rtl .dx-field-item:not(.dx-first-col) {
        padding-right: unset;
    }
}

.gridster-item {
    overflow: hidden;

    .close-icon, .zoomout-icon, .zoomin-icon, .fullscreen-icon, .smallscreen-icon, .markers-icon {
        color: #888;
        position: absolute;
        top: 0;
        padding: 5px;
        font-size: 20px;
        z-index: 2000;
        opacity: 0;
        cursor: pointer;

        &:hover {
            color: #aaa4a4;
        }
    }

    .close-icon {
        right: 0;
    }

    .markers-icon {
        right: 60px;
    }

    .zoomin-icon {
        right: 120px;
    }

    .zoomout-icon {
        right: 90px;
    }

    .fullscreen-icon {
        right: 30px;
    }

    &:hover {
        .close-icon, .fullscreen-icon, .smallscreen-icon, .zoomout-icon, .zoomin-icon, .markers-icon {
            opacity: 1;
        }
    }

    .smallscreen-icon {
        position: fixed;
        font-size: 40px;
        right: 2px;
        top: 50px;
    }
    .flscreen {
      position: fixed !important;
      top: 50px;
    }
}

.map {
    @extend .gridster-item
}

.filter-button {
    position: absolute;
    top: 2%;
    left: 1%;
    height: 95%;
    width: 98%;
}

.dx-datagrid-revert-tooltip {
    width: 0px !important;
    height: 0px !important;
    padding: 0px !important;
    visibility: hidden !important;
}

.context-menu-row {
    margin-right: auto;
    margin-left: auto;
    width: 160px;
}

.loading-indicator {
    z-index: 1;
}

.dx-datagrid .dx-row > td.row-grid-margin {
    padding-left: 30px;
    padding-right: 30px;
}

.filter-box-container {
    height: 40px;
    @include flex(row);
    align-items: center;

    .dx-button {
        margin-left: 5px;
    }
}

.filter-box {
    width: 100%;

    &.dx-texteditor.dx-state-readonly {
        border-color: $customBorderColor;

        .dx-tag-content {
            padding: 3px 5px;

            .dx-tag-remove-button {
                display: none;
            }
        }
    }
}

.fullscreen {
  position: fixed;
  width:100%;
  height: calc(100% - 51px) !important;
  top: 51px;
  left: 0;
  z-index: 1999;
}

.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include flex(column);
    align-items: center;
    justify-content: center;
    background: $backgroundColor;
    z-index: 999;

    .dx-loadindicator-wrapper {
        height: 40px !important;
        width: 40px !important;
    }
}

.grid .dx-invalid.dx-dropdowneditor .dx-texteditor-container:after {
    display: none;
}

@media (max-width: 600px) {
    .dx-datagrid-search-panel {
        margin-left: 0px;
        width: 100% !important;
        min-width: 60px;
        max-width: 120px;
        float: right;
    }
}

.dx-datagrid-search-panel-narrow {
    width: 16vw !important;
    min-width: 51px;
}

@media (max-width: 200px) {
    .dx-button-content {
        padding: 3px !important;
    }
}
