﻿$backgroundColor: _BACKGROUND_COLOR;

// header
$headerBGColor: #1f1f1f;
$headerTextColor: #fff;

// sidebar
$sidebarBGColor: #484848;
$sidebarHoverBGColor: #303030;
$sidebarActiveBGColor: #d64635;

// dashboard
$dashboardTitleTextColor: #000;
$dashboardTitleBGColor: #fff;
$dashboardTileTextColor: #fff;
$dashboardTileBGColor: #484848;

// history
$masterDetailColor: #959595;

// details
$evenFieldBGColor: #efefef;
$summaryTextColor: #808080;

// login
$loginBGColor: rgba(255,255,255,0.2);
$loginFormControlBGColor: #fff;
$loginFormControlShadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(147, 161, 187, 0.6);
$loginFormControlFocusBorderColor: #93a1bb;
$loginCopyrightColor: #eee;

// buttons
$buttonBlueBGColor: #3598dc;

// burger
$burgerTextColor: #aaa;
$burgerBGColor: #303030;
$burgerHoverTextColor: #eee;
$burgerHoverBGColor: #242424;
$burgerWrapperBGColor: #484848;

$customBorderColor: #ddd;