﻿@import 'colors';
@import 'mixins';

.dx-popup-content {
    padding: 10px 15px;
}

.details-popup {
    -webkit-transform: translate(0, 0) !important;
    -moz-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;

    @include flex(column);
    justify-content: space-between;
    height: 100%;
    
        top: 33px !important;

    > .dx-overlay-content {
        -webkit-transform: translate(0, 0) !important;
        -moz-transform: translate(0, 0) !important;
        -ms-transform: translate(0, 0) !important;
        -o-transform: translate(0, 0) !important;
        transform: translate(0, 0) !important;
    }

    ng-transclude {
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
    }

    .common {
        @include flex(row);
        height: 100%;
        width: 100%;
        overflow: hidden;

        @include media(mobile) {
            > div {
                margin-bottom: 10px;
            }
        }

        .accordion {
            min-width: 30%;
            width: 100%;
            padding: 0 5px;
            position: relative;

            @include media(mobile) {
                padding: 0;
            }

            .dx-accordion-item-opened {
                @include flex(column);
            }

            .header {
                .bar {
                    @include flex(row);
                    justify-content: space-between;
                    white-space: nowrap;

                    .text {
                        width: 80%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    .title {
                        vertical-align:middle;
                    }

                    .summary {
                        font-size: 0.8em;
                        font-style: italic;
                        color: $summaryTextColor;
                        vertical-align:middle;
                    }
                  
                    .accordions-spaces{
                        width: calc(100% - 60px);
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }

            .body {
                height: 100%;
                @include flex(column);
                justify-content: flex-start;
                position: relative;

                & > div, & > div > div {
                    height: 100%;
                }

                .schemas {
                    flex: 1;
                    min-height: 40%;
                }
            }
        }
    }

    .small-button {
        margin: 0;

        .dx-button-content {
            padding: 4px;
        }

        .dx-icon {
            margin-right: 0;
            margin-left: 0;
        }
    }

    .tabs {
        flex-shrink: 0;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% - 10px);
        @include media(mobile) {
            margin-left: 0;
            margin-right: 0;
            width: 100%
        }
    }

    .tabs-panel {
        @include flex(column);
        height: 100%;
        min-height: 0;
        position: relative;

        & > div {
            @include flex(column);
            height: 100%;
            min-height: 0;
        }
    }

    .details-accordions {
        > div {
            position: relative;
            height: 100%;
            min-height: 0;
        }
        .accordion-params {
            @include flex(column);
            height: 100%;
        }
    }
}

.scroll {
    overflow-y: auto;
}

@include media(mobile) {
    .details-popup .common {
        display: block;

        .accordion {
            width: 100%;
        }
    }
}

.dx-datagrid-rowsview .dx-select-checkboxes-hidden>tbody>tr>td>.dx-select-checkbox {
    display: block !important;
}