﻿@import '../../../colors.scss';
@import '../../../mixins.scss';

.status-change {
    .dx-popup-content {
        @include flex(column);
        justify-content: space-between;
        height: 100%;

        .content-status-change {
            @include flex(column);
            height: 100%;
        }
        .toolbar {
            padding-top: 10px;
            flex-shrink: 0;
            overflow: visible;
        }
    }
}