﻿<div class="status-change" dx-popup="popupOptions">
    <div class="content-status-change">
        <div class="select-box" dx-select-box="selectBoxOptions"></div>
    </div>
    <div class="toolbar" dx-toolbar="toolbarOptions"></div>
</div>