﻿<div ng-init="onInit()" class="menu-popover" dx-popover="menuPopoverOptions">
    <div class="popover-content">
        {{distributorsNumber}}
        <div class="distributors-div container-fluid">
            <div class="user-info">
                <div class="bigger-user-avatar">
                    <div class="avatar" ng-if="user.avatar">
                        <img ng-src="{{ user.avatar }}" />
                    </div>
                    <div class="no-avatar" ng-if="!user.avatar">
                        <i class="icon-user"></i>
                    </div>
                </div>
                <div class="user-name">
                    {{ user.username }}
                </div>
                <div class="submit-button">
					<div class="menu-submit-button" dx-button="submitButtonOptions" ng-if="$root.hasPermissions(['DISTRIBUTOR_LIST'])"></div>
                </div>
            </div>
            <div class="distributors-div">
                <div dx-data-grid="grid.options"></div>
                <div ng-hide="grid.showGrid || showNoPermission" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                <div ng-show="showNoPermission" class="text-center loading-container">{{$root.i18n('Common', 'NoPermission')}}</div>
            </div>
        </div>
        <div class="options-div">
            <div dx-button="myAccountButtonOptions" ng-if="$root.hasPermissions(['OPERATOR_LIST'])"></div>
            <div dx-button="changePasswordButtonOptions" ng-if="$root.hasPermissions(['OPERATOR_EDIT'])">
                <div data-options="dxTemplate: { name:'changePasswordButton' }">
                    <div class="template-button-content">
                        <div>
                            <i class="icon-key"></i>
                        </div>                        
                    </div>
                </div>
            </div>
            <div dx-button="signOutButtonOptions" ui-sref="logout">
                <div data-options="dxTemplate: { name:'signOutButton' }">
                    <div class="template-button-content">
                        <div>
                            <ng-md-icon icon="{{logoutIcon}}" style="fill: black" size="18"></ng-md-icon>
                        </div>
                        <div>
                            <span>{{$root.i18n('Common', 'SignOut')}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <user-details ng-if="showUserDetails" id="userDetailsPopupId"></user-details>
</div>