﻿@import '../../../colors.scss';
@import '../../../mixins';

$borderRadius: 6px;

.menu-popover {
    .dx-popup-content {
        padding: 0 !important;
    }

    .popover-content {
        @include flex(column);
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 0;

        .distributors-div {
            @include flex(column);
            height: calc(100% - 80px);
            margin: 0;
            padding: 15px;
            position: relative;

            .user-info {
                @include flex(row);
                align-items: center;

                .bigger-user-avatar {
                    background-color: black;
                    border-radius: 50%;
                    height: 80px;
                    width: 80px;

                    & > .avatar {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                    }

                    & > .no-avatar {
                        height: 100%;
                        width: 100%;
                        @include flex(column);
                        justify-content: center;
                        align-items: center;

                        & > i {
                            font-size: 48px;
                            color: white;
                        }
                    }
                }

                .user-name {
                    font-size: 18px;
                    margin-left: 10px;
                }

                .submit-button {
                    align-self: flex-end;
                    flex-grow: 1;
                    text-align: right;
                }
            }
        }

        .options-div {
            height: 80px;
            background-color: whitesmoke;
            border-top: 1px solid #ddd;
            border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
            @include flex(row);
            justify-content: space-around;
            align-items: center;
        }
    }

    .template-button-content {
        @include flex(row);
        justify-content: space-between;
        align-items: center;
        height: 19px;
        
        & > div {
            margin-right: 5px;
        }
    }
}

.is-rtl{
    .menu-submit-button{
        position: absolute;
        top: 8%;
        left: 4%;
    }
    .menu-popover .popover-content .distributors-div .user-info .user-name{
        margin-right: 15px;
    }
}