﻿<div class="popup-content" dx-popup="gridPopupOptions">
    <div class="import-grid">
        <div dx-data-grid="importGridOptions" dx-item-alias="row">
            <div ng-if="row.data.errorInfo" class="row-footer" data-options="dxTemplate: { name: 'errors' } ">
                <p class="error-row" ng-repeat="info in row.data.errorInfo track by $index">{{info}}</p>
            </div>
        </div>
        <div ng-hide="showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    </div>
    <div class="buttons">
        <div class="left" dx-progress-bar="importProgressOptions"></div>
        <div dx-button="initButtonOptions"></div>
        <div dx-button="startButtonOptions"></div>
        <div dx-button="stopButtonOptions"></div>
    </div>
    <div class="summary-toast" dx-toast="summaryToastOptions">
        <div data-options="dxTemplate: { name: 'content'}">
            <h3>{{$root.i18n('Popup', 'ImportSummary')}}</h3>
            <div>{{$root.i18n('Popup', 'AllCount') + ': ' + lastStatus.itemsCount}}</div>
            <div>{{$root.i18n('Popup', 'SuccessCount') + ': ' + lastStatus.successCount}}</div>
            <div>{{$root.i18n('Popup', 'ErrorCount') + ': ' + lastStatus.errorCount}}</div>
        </div>
    </div>
</div>
<div dx-popover="popoverOptions">
    <file-uploader options="fileUploaderOptions"></file-uploader>
</div>

<div dx-popup="importPopupOptions">
    <file-uploader options="fileUploaderOptions"></file-uploader>
</div>
