﻿@import '../../../mixins';

.popup-content {
    height: 100%;
    .dx-popup-content {
        height: 100%;
        @include flex(column);

    }

    .buttons {
        text-align: right;
    }

    .import-grid {
        @include flex(column);
        height: 100%;
        min-height: 0;
        position: relative;

        .dx-master-detail-cell {
            padding: 0;
        }

        .row-footer {
            padding: 10px;

            .error-row {
                margin-bottom: 2px;
            }
        }
    }
}