﻿<div class="dashboard-tile text-center"
     ng-style="{'background-color': bgColor, 'border-radius': borderRadius, '-webkit-box-shadow': boxShadow, '-moz-box-shadow': boxShadow, 'box-shadow': boxShadow}"
     ng-mouseover="bgColor='rgba(' + data.hoverColor + ')'"
     ng-mouseleave="bgColor='rgba(' + data.backgroundColor + ')'"
     ng-init="bgColor='rgba(' + data.backgroundColor + ')'"
     ng-click="action()"
     ng-class="{'click': action}">
    <div ng-if="data.backgroundImage" class="tile-background" ng-style="{'background-image': backgroundImage}"></div>
    <h4 ng-if="data.texHeaderVisible">{{itemTitle}}</h4>
    <b ng-if="data.amountVisible">{{data.value}}</b>   
    <div ng-if="data.iconVisible" class="image-container"><img ng-src="data:image/{{iconType}};base64,{{data.icon}}" /></div>
    <location-details ng-if="showLocationDetails" id="id"></location-details>
    <alarms-details ng-if="showAlarmDetails" id="id"></alarms-details>
</div>