﻿@import '../../../colors.scss';
@import '../../../mixins.scss';

.dashboard-tile {
    color: $dashboardTileTextColor;
    background-color: $dashboardTileBGColor;
    margin: 0 0;
    align-content: center;
    justify-content: center;

    padding: 20px 20%;
    min-height: 80%;
    max-height: 80%;
    height: 100%;
    border-radius: 10px;

    position: relative;
    @include flex(column);

    -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.8);
    box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.8);

    h4 {
        margin: 20px 0 10px;
        display: inline-block;
        width: 100%;
        z-index: 1;
    }
    b {
        margin: 10px 0 10px;
        display: inline-block;
        width: 100%;
        font-size: 20px;
        z-index: 1;
    }
    .image-container {
        width: 100%;
        height: 0;
        text-align: center;
        flex-grow: 1;
        img{
            height: 100%;
            width: auto;
            max-width: 100%;
            z-index: 1;
        }
    }
    

    &.click {
        cursor: pointer;
    }

    .tile-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: top left;
        z-index: 0;
    }
}

.use-margin {
    .dashboard-tile {
        margin: 10px 0;
    }
}