﻿<div class="grid-button">
    <div id="popover_{{::$id}}" dx-button="buttonOptions" ng-class="{'dx-state-active': popoverVisible}"></div>
    <div dx-popover="popoverOptions">
        <div ng-show="showGrid" dx-data-grid="popoverGridOptions"></div>
        <div ng-hide="showGrid" class="text-center" style="margin-top: 220px"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    </div>
</div>