﻿@import '../../../mixins.scss';
@import '../../../colors.scss';

.menu.list-group {
    background-color: $sidebarBGColor;
    height: 100%;
    margin: 0;
    white-space: nowrap;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
        height: 250px;
        @include transition(all 0.6s ease);
    }
    .list-group-item {
        cursor: pointer;
        @include transition(all 0.6s ease);
        .module-name{
            padding-left: 5px;
        }
        i {
            display: inline;
            margin-right: 5px;
            &.absolute-right {
                position: absolute;
                top: 12px;
                right: 15px;
            }
            &.ng-hide-remove {
              animation: fadeIn 1.0s;
            }
            &.ng-hide-add {
              animation: fadeOut 1.0s;
            }
        }
        color: #d9d9d9;
        background-color: $sidebarBGColor;
        border-color: $sidebarBGColor;
        &:focus, &:hover {
            background-color: $sidebarHoverBGColor;
            border-color: $sidebarHoverBGColor;
        }
        &.active {
            color: #fff;
            background-color: $sidebarActiveBGColor;
            border-color: $sidebarActiveBGColor;
        }
        @include border-radius(0px);
        span{
            display: inline;
            &.ng-hide-remove {
              animation: fadeInRight 0.4s;
            }
            &.ng-hide-add {
              animation: fadeOutLeft 0.4s;
            }
        }
    }

    .small-menu {
        @media (max-width: 768px) {
            height: 0;
        }
        .list-group-item {
            padding: 10px;
        }
    }
}

.is-rtl{
   .direction{
       display: flex;
       flex-direction: row-reverse;
   }
   .menu.list-group {
        .list-group-item {
            .module-name{
                padding-right: 5px;
                padding-left: unset;
            }
            i {
                &.absolute-right {
                    right: auto;
                    left: 15px;
                }
              }
         }
   }
}