﻿<div dx-scroll-view="{height: '100%'}" class="list-group menu">
    <div ng-class="{'small-menu': small}">
        <a ng-repeat="item in items" class="list-group-item" ng-class="{'active': active == item.name}" ng-click="goToPage(item)">
            <div class="direction">
                <div class="icon-row">
                    <ng-md-icon icon="{{item.icon}}" style="fill: #d9d9d9" size="18"></ng-md-icon>
                </div>
                <span class="module-name" ng-hide="small">{{i18n('Common', item.resource)}}</span>
                <i ng-hide="small" class="{{arrowIcon}} absolute-right"></i>
            </div>
        </a>
    </div>
</div>