﻿<layout active="locations">
    <div ng-hide="showGrid" class="loading-container"><div dx-load-indicator="loadingIndicatorOptions"></div></div>         
    <div dx-button="returnButtonOptions" ng-hide="isGridShown" ng-style="returnButtonStyle" ng-mouseover="onReturnButtonMouseOver()" ng-mouseleave="onReturnButtonMouseOut()"></div>
    
    <div gridster="gridsterOpts" style="display:flex;">        
        <ul ng-class="{'border': isOwnPosition}">
            <li gridster-item="gridsterGridOpts" class="padding-top-10" ng-show="isGridShown">
                <div dx-button="pinSwitchOptions" ng-show="showGrid && isSecondRowVisible" ng-style="switchButtonStyle" ></div>
                <span class="glyphicon glyphicon-move drag-icon" ng-if="gridsterOpts.draggable.enabled"></span>
                <div id="gridContainer_{{gridId}}" class="grid" dx-data-grid="dataGridOptions"></div>
                <div class="filter-box-container" ng-show="isFilterBoxVisible">
                    <div dx-scroll-view="{width: 'calc(100% - 44px)', direction: 'horizontal'}"><div class="filter-box" dx-tag-box="filterBoxOptions"></div></div>
                    <div dx-button="clearFilterButtonOptions"></div>
                </div>
            </li>
            <li gridster-item="gridsterSecondRowOpts" ng-if="isSecondRowVisible" class="second-panel" ng-click="onFocus()">
                <span class="glyphicon glyphicon-move drag-icon" ng-if="gridsterOpts.draggable.enabled"></span>
                <map ng-if="mapData && isMapVisible" data-mapdata="mapData"></map>
                
                    <div ng-if="isDetailsVisible" style="height: 100%;">
                    <grid-details ng-if="gridDetailsSettings" settings="gridDetailsSettings" ng-class="{'landscape':isLandscape}"></grid-details>
                </div>
            </li>
        </ul>
    </div>       
    <div class="no-defined-content" ng-if="columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>

    <div id="SecondRowPositionPopover" dx-popover="positionPopoverOptions"><div dx-list="positionListOptions"></div></div>

    <location-details id="popupId"></location-details>
    <location-create-edit id="popupId"></location-create-edit>
    <devices-create-edit></devices-create-edit>
    <meter-create-edit id="popupId"></meter-create-edit>
    <import options="importOptions"></import>
    <div ng-show="isSettingsListPopoverVisible" dx-popover="settingsListPopoverOptions">
        <div dx-list="settingsListOptions">
        </div>
    </div>
    <custom-filter></custom-filter>
</layout>