﻿location-details, location-create-edit {
    position: absolute;
}

.border {
    .gridster-item {
        border: 1px solid #ccc;

        &.padding-top-10 {
            padding-top: 10px;
        }
    }
}

.stretched-button-container {
    padding: 0;
    .stretched-button {
        padding: 5px 10px;
        border: 0;
        border-radius: 0;
    }
}


