﻿<div class="location-select">
    <div class="bordered">
        <span>{{ selectedLocation.name }}</span>
        <div dx-button="locationSelectButtonOptions" class="pull-right select-button"></div>
    </div>

    <div dx-popup="popupOptions">
        <div class="location-select-popup">
            <div class="toolbar">
                <div class="autocomplete">
                    <strong>{{$root.i18n('Popup', 'LocationAddress')}}</strong>:
                    <div dx-autocomplete="currentLocation.autoCompleteOptions"></div>
                </div>
                <div class="parameter">
                    <strong>{{$root.i18n('Popup', 'LocationLatitude')}}</strong>:
                    <div dx-number-box="currentLocation.latitudeOptions" class="latitude-box"></div>
                </div>
                <div class="parameter">
                    <strong>{{$root.i18n('Popup', 'LocationLongitude')}}</strong>:
                    <div dx-number-box="currentLocation.longitudeOptions"></div>
                </div>
            </div>
            <div class="map" id="map">
                <div dx-map="mapOptions"></div>
            </div>
            <div class="action-buttons">
                <div dx-button="submitLocationButtonOptions"></div>
                <div dx-button="cancelButtonOptions"></div>
            </div>
        </div>
    </div>
</div>