﻿@import '../../../mixins';
@import '../../../colors';

.location-select-popup {
    @include flex(column);
    height: 100%;

    .toolbar {
        @include flex(row);
        align-items: center;
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: 10px;

        .autocomplete {
            width: 60%;
        }

        .parameter {
            width: 20%;
            margin-left: 5px;
        }
    }
    .map {
        @include flex(row);
        height: 100%;
    }
    .action-buttons {
        flex-shrink: 0;
        flex-grow: 0;
        margin-top: 10px;
        text-align: right;

        .dx-button {
            margin: 0;
        }
    }
}

.location-select {
    .bordered {
        border: 1px solid $customBorderColor;
        border-radius: 4px;
        padding: 0 0 0 9px;
        position: relative;
        .select-button {
            margin: 0;
            position: absolute;
            top: -1px;
            right: -1px;
        }
        > span {
            padding: 7px 0 8px;
            display: block;
            cursor: default;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 180px;
        }
    }
}

.is-rtl{
    .location-select .bordered .select-button{
        right: unset;
        left: 0px;
    }
    .location-select .bordered > span{
        padding: 7px 8px 8px 0;
    }
    .latitude-box{
        margin-right: 3px;
    }
}