<details-popup options="options">
    <div ng-if="!showTabs" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
    <div class="details-popup tasks-details" ng-if="showTabs">
        <div class="tabs" dx-tabs="tabs.tabsOptions"></div>
        <div class="tabs-panel" ng-if="visiblePopup">
            <div ng-if="isLoading" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
            <div ng-if="!isLoading">
                <div ng-if="tabs.selectedTabName == 'common'" class="scroll">
                    <div class="common">
                        <div class="accordion" ng-repeat="accordion in accordions track by $index" ng-show="accordion.visible" ng-if="accordions">
                            <div dx-accordion="accordion.options" dx-item-alias="section">
                                <div class="header" data-options="dxTemplate: { name: 'title' } ">
                                    <div class="bar">
                                        <div class="accordions-spaces"><span class="title">{{section.title}}</span> <span ng-if="section.showStatus" class="summary">{{section.status()}}</span></div>
                                        <div class="small-button dx-button-has-icon" dx-button="{ icon: 'edit', onClick: editClick }" ng-if="section.canEdit"></div>
                                        <div class="small-button dx-button-has-icon" dx-button="closeAccordionButtonOptions(section.name, $index)"></div>
                                    </div>
                                </div>

                                <div class="body" data-options="dxTemplate: { name: 'panel' } ">
                                    <div ng-if="accordion.hideContent" class="loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                    <div class="details-accordions" ng-switch="section.name" ng-if="!accordion.hideContent && section.selected">
                                        <div class="accordion-params" ng-switch-when="params">
                                            <details-parameters ng-if="common.details.length > 0" fields="common.details" model-id="modelId" popup-for="popupFor"></details-parameters>
                                        </div>

                                        <div ng-switch-when="attachments" ng-if="$root.hasPermissions(['TASK_ATTACHMENTS'])">
                                            <div ng-if="attachments.options" id="commonAttachmentsGrid" dx-data-grid="attachments.options"></div>
                                            <div class="no-defined-content" ng-if="attachments.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                            <div ng-hide="attachments.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>
                                        <div ng-switch-when="equipment" ng-if="$root.hasPermissions(['TASK_EQUIPMENT'])">
                                            <div ng-if="equipment.options" id="commonEquipmentGrid" dx-data-grid="equipment.options"></div>
                                            <div class="no-defined-content" ng-if="equipment.columnsCount === 0">{{$root.i18n("Grid", "NoDefinedContent")}}</div>
                                            <div ng-hide="equipment.showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bar" style="width: 100%; text-align:center; font-size:large; margin-top:2em;" ng-hide="anyAccordionVisible()">
                            {{$root.i18n("Common", "NoActiveAccordions")}}
                        </div>
                    </div>

                    <grid-attachments-edit source="attachmentsBridge"></grid-attachments-edit>
                </div>
                <history ng-if="tabs.selectedTabName == 'history' && $root.hasPermissions(['TASK_HISTORY'])" source="{ id: modelId, dataMethodName: 'getHistoryForTask' }"></history>
            </div>
        </div>
    </div>
    <confirmation id="id" confirm="confirmDelete" title="{{i18n('Popup', 'ElementDeleting')}}"></confirmation>
    <tasks-create-edit id="editId"></tasks-create-edit>
</details-popup>