﻿@import '../../../colors.scss';
@import '../../../mixins.scss';

gallery {
    flex-grow: 1;
    height: 0;
    min-height: 40%;

    .schemas {
        height: 100%;

        slick {
            height: 100%;
            width: 100%;
            .slick-list {
                height: 100%;

                .slick-track {
                    height: 100%;

                    .slick-element {
                        height: 100%;
                        width: 100%;
                        position: relative;
                    }
                }
            }

            .slick-dots {
                bottom: -10px;
            }
        }
    }
}