﻿<div class="schemas schemas{{id}}" ng-if="schemas.length > 0">
    <schema ng-if="schemas.length == 1" source="{ data: schemas[0], isReadOnly: true }"></schema>
    <div dx-gallery="schemaGalleryOptions" dx-item-alias="schema" ng-if="schemaGalleryOptions && schemas.length > 1 && isDxGallery">
        <schema source="{ data: schema, isReadOnly: true }"></schema>
    </div>
    <slick settings="slickOptions" ng-if="schemas.length > 1 && !isDxGallery && isLoaded">
        <div class="slick-element" ng-repeat="schema in schemas">
            <schema source="{ data: schema, isReadOnly: true }"></schema>
        </div>
    </slick>
</div>