﻿@import '../../../mixins.scss';
@import '../../../colors.scss';

.btn {
    &.btn-custom {
        border: 0 none;
        @include border-radius(0px);
    }
    &.btn-blue {
        color: #fff;
        background-color: $buttonBlueBGColor;
    }
}

.disable-padding {
    padding: 0;
}

.burger-wrapper {
    &.dark {
        background-color: $burgerWrapperBGColor;
    }
}


.layout-container {
    padding-left: 0;
    padding-right: 0;

    .layout-row {
        margin: 0;

        @media (min-width: 768px) {
            @include flex(row);
            width: 100%;
            margin-right: 15px;

            .content {
                @include flex(column);
                flex-grow: 1;

                > div {
                    flex-grow: 1;
                }
            }
        }
    }
}

.burger {
    display: inline-block;
    font-size: 15px;
    padding: 5px 10px;
    margin: 10px 15px;
    width: 35px;
    cursor: pointer;
    &.disable-h-margin {
        @media (min-width: 768px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    &.dark {
        color: $burgerTextColor;
        background-color: $burgerBGColor;
        &:hover {
            color: $burgerHoverTextColor;
            background-color: $burgerHoverBGColor;
        }
    }
}

.sidebar-menu {
    @include transition(width 0.6s ease);
    @media (min-width: 768px) {
        @include flex(column);
    }
    @media (max-width: 768px) {
        height: auto !important;
    }
}

.sidebar-left {
    float: left;
    width: 35px;
    z-index: 1;
    position: relative;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.content {
    overflow-y: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}

.padding-left {
    z-index: 0;
    margin-left: -40px;
    padding-left: 55px;
}

.margin-top {
    margin-top: 51px;
    @media (max-width: 768px) {
        margin-top: 0;
    }
}

.popup-visible {
    .margin-top {
        margin-top: 33px;
        @media (min-width: 768px) {
            margin-top: 0px;
        }
    }
}

.is-rtl{
    .sidebar-menu{
        position: absolute;
        right: 0px;
    }
    .burger-wrapper {
        &.dark {
            text-align: left;
        }
    }
    .layout-container {
        .layout-row {
            .content {
                flex-grow: unset;
            }
        }
    }
}