﻿<header></header>
<div class="container-fluid margin-top layout-container">
    <div class="row layout-row">
        <div class="sidebar-menu" ng-if="isSidebarMenuVisible" ng-class="{'col-sm-3 col-md-2 disable-padding': !smallMenu, 'sidebar-left': smallMenu}" height-fill height-fill-subtract="51" height-fill-disable-on="768">
            <div class="burger-wrapper dark text-right">
                <span class="burger dark" ng-class="{'disable-h-margin': smallMenu}" ng-click="toggleMenu()"><i class="icon-menu"></i></span>
            </div>
            <sidebar-menu small="smallMenu" active="{{active}}"></sidebar-menu>
        </div>
        <div class="content" ng-class="{'col-sm-9 col-md-10': !smallMenu && isSidebarMenuVisible, 'col-sm-12': smallMenu || !isSidebarMenuVisible, 'isSidebarMenuVisible': smallMenu}" height-fill height-fill-subtract="71" height-fill-disable-on="768" height-fill-disable="heightFillDisable">
            <div ng-transclude></div>
        </div>
    </div>
    <change-password></change-password>
</div>