﻿<div class="toolbar">
    <grid-select bridge="bridge"></grid-select>
    <div dx-button="addButtonOptions" class="activities-add-button"></div>
    <div dx-button="removeButtonOptions"></div>
    <div dx-button="submitButtonOptions" class="submit-button"></div>
    <div id="toolbar-popover-selection-button" dx-button="selectionButtonOptions" class="submit-button"></div>
    <div dx-popover="selectionPopoverOptions"><div dx-list="selectionListOptions"></div></div>
</div>