﻿<div class="row dashboard margin-top-10" dx-scroll-view="{ direction: 'vertical' }" ng-show="connection.connectedObjectVisibility">
    <div class="col-sm-12">
        <div class="border-with-title">
            <span class="title">{{connection.connectedObjectTitle}}</span>
            <div class="border connected-object" ng-switch="connection.connectedObjectMethod">
                <a href="" ng-switch-when="device" ng-click="deviceDetails(connection.connectedObjectId, connection.connectedObjectName)">{{connection.connectedObjectName}}</a>
                <a href="" ng-switch-when="meter" ng-click="meterDetails(connection.connectedObjectId, connection.connectedObjectName)">{{connection.connectedObjectName}}</a>
                <div ng-switch-default>{{connection.connectedObjectName}}</div>
            </div>
        </div>
    </div>
    <devices-details id="$id"></devices-details>
    <meter-details id="$id"></meter-details>
</div>