﻿<div dx-popup="popupOptions">    
    <div class="groups">        
        <div dx-load-panel="{bindingOptions: {visible: 'hideGroupsGrid', message: 'loadPanelMessage'}}"></div>
        <div class="grids" >            
            <div>
                <div ng-if="availableGroupsGridOptions" dx-data-grid="availableGroupsGridOptions"></div>
            </div>
            <div class="transfer-buttons">
                <div dx-button="transferForwardButtonOptions"></div>
                <div dx-button="transferBackButtonOptions"></div>
            </div>
            <div>
                <div ng-if="assignedGroupsGridOptions" dx-data-grid="assignedGroupsGridOptions"></div>
            </div>
        </div>
        <div class="submit"><div dx-button="submitButtonOptions"></div></div>
    </div>
</div>