﻿@import '../../../mixins';

.groups {
    @include flex(column);
    justify-content: space-between;
    height: 100%;

    .submit {
        text-align: right;
    }

    .grids {
        @include flex(row);
        width: 100%;
        height: 100%;
        justify-content: space-between;
        min-height: 0;

        & > div {
            @include flex(column);
            width: 100%;
        }

        .transfer-buttons {
            @include flex(column);
            width: auto;
            justify-content: center;
            padding: 5px;
        }

        select {
            width: 100%;
            height: 100%;
            overflow: auto;
            padding-top: 10px;
        }
    }
}