﻿@import '../../../colors.scss';
@import '../../../mixins';

$borderRadius: 6px;

.alarms-menu-popover {
    .dx-popup-content {
        padding: 0 !important;
    }

    .popover-content {
        
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 20px;

        .alarms-menu-div{
            height: 100%;
            @include flex(column);
        }
    }
}

.alarms-grid {
    table {
        colgroup col:first-child, tr td:first-child {
            display: none;
        }
    }
    .dx-datagrid .dx-row>td.alarm-grid-row-cell {
        margin: 0;
        padding: 0 0 0 30px;
        > div > div {
            white-space: pre-wrap;
            margin-bottom: 10px;
                margin-top: 10px;
        }
    }
}
