﻿<div ng-init="onInit()" class="alarms-menu-popover" dx-popover="menuPopoverOptions">
    <div class="popover-content">
        <div class="alarms-menu-div">
            <div class="text-right"><div dx-button="refreshButtonOptions"></div></div>
            <div dx-data-grid="alarmsMenuGridOptions" dx-item-alias="row" class="alarms-grid">
                <div ng-if="row.data.refdata && row.data.refdata.length" class="row-footer" data-options="dxTemplate: { name: 'detail' } ">
                    <div ng-repeat="refdata in row.data.refdata track by $index" ng-if="$index < 3">{{refdata}}</div>
                    <div ng-repeat="refdata in row.data.refdata track by $index" ng-if="$index === 3">...</div>
                </div>
            </div>
            <div ng-hide="showGrid" class="text-center loading-container"><div dx-load-indicator="{height: 40, width: 40}"></div></div>
        </div>
    </div>   
</div>